main.classes-home {
  @include bgnormal(100%);
  // border: 1px solid red;
  > div {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: $bottomspacing;
    background-color: rgba($color: $white, $alpha: 0.8);
    // border: 1px solid red;
    // bookmark for classes only
    .classesonly {
      border: none;
      background-color: transparent;
    }
    // grid
    .classesgrid {
      // border: 1px solid green;
      max-width: 785px;
      // height: 1120px;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 15px 15px;
      justify-content: space-between;
      @include table() {
        // max-width: 785px;
        gap: 20px 20px;
        justify-content: center;
        grid-template-columns: auto auto;
      }
      @include mobile() {
        min-width: 375px;
        grid-template-columns: auto;
      }
      .classesgrid_simple {
        width: 245px;
        height: 358px;
        border: 1px solid $black;
        font-size: 0px;
        overflow: hidden;
        position: relative;
        transition: all 500ms linear;
        &:hover {
          box-shadow: 4px 4px $orange, 3px 3px 3px rgba(88, 88, 88, 0.384);
          border-radius: 10px;
        }
        @include table() {
          max-width: 300px;
        }
        @include mobile() {
          min-width: 300px;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 2;
          cursor: pointer;
        }
        p {
          width: 100%;
          height: 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 0;
          // left: calc(50% - 100px);
          z-index: 1;
          background-color: #ebebebba;
          // border: 1px solid green;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          span {
            font-size: 18px;
            text-align: center;
            overflow: hidden;
            color: $black;
            &:nth-child(1) {
              // display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              margin-bottom: 5px;
              font-weight: 500;
            }
          }
        }
        img {
          height: 100%;
          @include mobile() {
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
}
