main.classes-home {
  @include bgnormal(100%);
  // border: 1px solid red;
  > div {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: $bottomspacing;
    background-color: rgba($color: $white, $alpha: 0.8);
    border: 1px solid red;
    // grid
    .classesgrid {
      border: 1px solid green;
      width: 785px;
      // height: 1120px;
      overflow-y: auto;
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 20px 20px;
      justify-content: space-between;
      .classesgrid_simple {
        width: 245px;
        height: 358px;
        border: 1px solid orange;
        font-size: 0px;
        overflow: hidden;
        position: relative;
        a {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 2;
        }
        p {
          width: 80%;
          position: absolute;
          bottom: 0;
          left: calc(50% - 100px);
          z-index: 1;
          border: 1px solid green;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          span {
            overflow: hidden;
            color: $white;
            &:nth-child(1) {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
            }
          }
        }
        img {
          height: 100%;
        }
      }
    }
  }
}
