main.classes-content {
  @include bgnormal(100%);
  // 宣告圖片左側空間
  .imgleftspace {
    margin-left: 40px;
  }
  > div {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: $bottomspacing;
    // 麵包屑上面高度
    padding-top: $bottomspacing;
    background-color: rgba($color: $white, $alpha: 0.8);
    // border: 1px solid red;
    line-height: normal;
    // 麵包屑
    > p {
      margin: 0px 0px 50px 40px;
    }
    // 內容
    .content {
      width: 100%;
      // border: 1px solid blue;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      // 左側圖片
      .classcontentimg {
        width: 358px;
        // border: 1px solid green;
        font-size: 0;
        img {
          width: 100%;
          margin-bottom: 20px;
          box-shadow: 3px 3px 0px 0px $orange;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
      // 組件一
      .classcontentword1 {
        // border: 1px solid brown;
        width: 550px;
        margin-right: 40px;
        .contentdetail {
          // border: 1px solid yellow;
          margin-bottom: 70px;
          position: relative;
          // 藍色分隔線
          &::after {
            content: "";
            width: 520px;
            color: $blue;
            border-top: 3px solid $blue;
            position: absolute;
            bottom: -40px;
            left: calc(50% - 260px);
          }
          > p {
            margin: 0px 0px 65px 70px;
            span.title3 {
              display: inline-block;
              margin-top: 15px;
            }
          }
          > div {
            display: flex;
            justify-content: space-evenly;
          }
        }
        .contentintro {
          width: 460px;
          // border: 1px solid green;
          margin: 0 auto;
          > p:first-child {
            margin-bottom: 40px;
          }
          p.nutrients {
            width: 100%;
            margin-bottom: 40px;
            padding: 0px 40px;
            display: flex;
            justify-content: space-evenly;
            span {
              display: block;
              width: 68px;
              height: 68px;
              border: 1px solid $black;
              border-radius: 50%;
              text-align: center;
              padding-top: 12px;
              &:first-child {
                background-color: $blue;
                color: $white;
              }
            }
          }
        }
      }
      // 組件二
      .classcontentword2 {
        // border: 1px solid brown;
        width: 604px;
        display: flex;
        flex-wrap: wrap;
        > div:nth-child(1) {
          margin-right: 32px;
          > p:nth-child(2) {
            margin-bottom: 10px;
          }
          // 專長
          .expertise {
            display: grid;
            grid-template-columns: auto auto;
            gap: 15px 15px;
            margin-bottom: 20px;
            span {
              display: inline-block;
              border: 1px solid $white;
              border-radius: 10px;
              background-color: $white;
              box-shadow: 0px 3px 6px 0px rgba($color: #282828, $alpha: 0.3);
              height: 44px;
              padding: 10px 5px;
              text-align: center;
            }
          }
          // 私課
          .tclass {
            border: 1px solid $blue;
            border-radius: 10px;
            background-color: $blue;
            box-shadow: 0px 3px 6px 0px rgba($color: #282828, $alpha: 0.3);
            padding: 10px 5px;
            color: $white;
            p {
              text-align: center;
              text-decoration: underline;
              text-underline-offset: 2px;
            }
            span {
              color: $white;
            }
          }
        }
        .license {
          border: 1px solid $yellow;
          border-radius: 10px;
          padding-bottom: 15px;
          overflow: hidden;
          > p {
            margin-bottom: 15px;
            background-color: $yellow;
            color: $white;
            text-align: center;
            line-height: 2;
          }
          span {
            margin: 0px 5px;
          }
        }
        > div:last-child {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          margin-top: 45px;
          button {
            cursor: pointer;
          }
        }
      }
      // 組件二-教練介紹
      > .contentintro {
        // border: 1px solid blue;
        margin: 83px auto 0px;
        padding: 0px 10px;
        width: 780px;
        position: relative;
        // 藍色分隔線
        &::before {
          content: "";
          width: 1032px;
          color: $blue;
          border-top: 3px solid $blue;
          position: absolute;
          top: -41.5px;
          left: calc(50% - 516px);
        }
        > p.title3 {
          text-align: center;
          margin-bottom: 88px;
        }
        p:nth-child(2) {
          // border: 1px solid red;
          width: 100%;
          a {
            // border: 1px solid orange;
            display: inline-block;
            margin-top: 26px;
            position: relative;
            left: calc(50% - 16px);
            bottom: 0px;
            width: 32px;
            height: 32px;
            text-align: center;
            &:visited {
              color: $black;
            }
          }
        }
      }
    }
    // 修改flex
    .content2only {
      justify-content: space-evenly;
      flex-wrap: wrap;
      // flex-direction: column;
    }
  }
}
