main.classes-content {
  @include bgnormal(100%);
  @include table(){
    flex-direction: column;
  }
  // 宣告圖片左側空間
  .imgleftspace {
    margin-left: 40px;
  }
  > div {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: $bottomspacing;
    // 麵包屑上面高度
    padding-top: $bottomspacing;
    background-color: rgba($color: $white, $alpha: 0.8);
    // border: 1px solid red;
    line-height: normal;
    // 麵包屑
    > p {
      margin: 0px 0px 50px 40px;
      > a {
        text-decoration: none;
        color: $black;
        &:visited {
          color: $black;
        }
      }
    }
    // 內容
    .classcontent {
      width: 100%;
      // border: 1px solid blue;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @include table(){
        flex-direction: column;
      }
      // 左側圖片
      .classcontentimg {
        width: 358px;
        // border: 1px solid green;
        font-size: 0;
        @include table(){
          margin: 0 auto 50px auto;
        }
        img {
          width: 100%;
          margin-bottom: 20px;
          box-shadow: 3px 3px 0px 0px $orange;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
      // 組件一
      .classcontentword1 {
        // border: 1px solid brown;
        width: 550px;
        margin-right: 40px;
        @include table(){
          justify-content: center;
          width: 100%;
        }
        .contentdetail {
          // border: 1px solid yellow;
          margin-bottom: 70px;
          position: relative;
          @include table(){
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
          }
          // 藍色分隔線
          &::after {
            content: "";
            width: 100%;
            color: $blue;
            border-top: 3px solid $blue;
            position: absolute;
            bottom: -40px;
            left: 0;
          }
          > p {
            margin: 0px 0px 65px 70px;
            @include table(){
              margin: 0px;
              margin-bottom: 30px
            }
            span.title3 {
              display: inline-block;
              margin-top: 15px;
            }
          }
          > div {
            display: flex;
            justify-content: space-evenly;
            @include table(){
              justify-content: center;
              width: 60%;
            }
          }
        }
        .contentintro {
          width: 460px;
          // border: 1px solid green;
          margin: 0 auto;
          @include table(){
            padding: 0 20px;
          }
          > p:first-child {
            margin-bottom: 40px;
          }
          p.nutrients {
            width: 100%;
            margin-bottom: 40px;
            padding: 0px 40px;
            display: flex;
            justify-content: space-evenly;
            span {
              display: block;
              width: 68px;
              height: 68px;
              border: 1px solid $black;
              border-radius: 50%;
              text-align: center;
              padding-top: 12px;
              &:first-child {
                background-color: $blue;
                color: $white;
              }
            }
          }
        }
      }
      // 組件二
      .classcontentword2 {
        // border: 1px solid brown;
        max-width: 604px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 20px;
        @include table(){
          margin: 0 auto;
          justify-content: center;
          align-items: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-top: 44px;
        }
        > div:nth-child(1) {
          margin-right: 32px;
          @include table(){
            margin-right: 0;
            margin-bottom: 20px;
          }
          > p.title2 {
            margin: 0px;
          }
          // 專長
          .expertise {
            display: grid;
            grid-template-columns: auto auto;
            gap: 15px 15px;
            margin: 0px 0px 20px 0px;
            span {
              display: inline-block;
              border: 1px solid $white;
              border-radius: 10px;
              background-color: $white;
              box-shadow: 0px 3px 6px 0px rgba($color: #282828, $alpha: 0.3);
              height: 44px;
              padding: 10px 5px;
              text-align: center;
            }
          }
          // 私課
          .tclass {
            border: 1px solid $blue;
            border-radius: 10px;
            background-color: $blue;
            box-shadow: 0px 3px 6px 0px rgba($color: #282828, $alpha: 0.3);
            padding: 10px 5px;
            color: $white;
            p {
              margin-top: 0;
              text-align: center;
              text-decoration: underline;
              text-underline-offset: 2px;
            }
            span {
              color: $white;
            }
          }
        }
        .license {
          width: 242px;
          border: 1px solid $yellow;
          border-radius: 10px;
          padding-bottom: 15px;
          overflow: hidden;
          background-color: $white;
          @include table(){
            width: auto;
          }
          > p {
            margin: 0px 0px 15px 0px;
            background-color: $yellow;
            color: $white;
            text-align: center;
            line-height: 2;
          }
          span {
            margin: 0px 5px;
            > hr {
              border-top: 1px solid $yellow;
            }
          }
        }
        > div:last-child {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          margin-top: 45px;
          @include table(){
            width: 80%;
          }
          button {
            cursor: pointer;
            @include table(){
              font-size: 18px;
            }
          }
        }
      }
      // 組件二-教練介紹
      > .contentintro {
        // border: 1px solid blue;
        margin: 83px auto 0px;
        padding: 0px 10px;
        width: 100%;
        position: relative;
        @include table(){
          width: 100%;
          
        }
        // 藍色分隔線
        &::before {
          content: "";
          width: 100%;
          color: $blue;
          border-top: 3px solid $blue;
          position: absolute;
          top: -41.5px;
          left: 0;
        }
        > p.title3 {
          text-align: center;
          margin-bottom: 50px;
        }
        p:nth-child(2) {
          // border: 1px solid red;
          > span {
            display: block;
            text-align: center;
          }
          width: 100%;
          a {
            // border: 1px solid orange;
            display: inline-block;
            margin-top: 26px;
            position: relative;
            left: calc(50% - 16px);
            bottom: 0px;
            width: 32px;
            height: 32px;
            text-align: center;
            &:visited {
              color: $black;
            }
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
    // 修改flex
    .content2only {
      justify-content: space-evenly;
      flex-wrap: wrap;
      // flex-direction: column;
    }
  }
}
