*{
    box-sizing: border-box;
}
.darken-background {
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: .6;
    .modal.new-article { 
        margin: 0 auto;
        max-width: 800px;
        height: 80vh;
        background-color: #ededed;
        position: relative;
        top: 50px;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 50px;
        z-index: 300;
        span.info {
            position: absolute;
            display: inline-block;
            background-color: #ededed;
            width: 100px;
            height: 40px;
            text-align: center;
            padding: 17px;
            border-radius: 30px 30px 0 0;
            top: -40px;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%);
            // line-height: 40px;
        }
        .cross {
            // border: solid red 1px;
            // width: 649px;
            // text-align: right;
            position:absolute;
            right: 30px;
            top: 20px;
            cursor: pointer;
        }
        input.title {
            width: 80%;
            height: 40px;
            margin-top: 15px;
            border: solid #00429d 2px;
            border-radius: 10px;
            padding: 10px;
        }

        select.category {
            @extend input.title;
        }

        textarea.new-article-content {
            @extend input.title;
            height: 200px;
        }
        .upload-images {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
            .single-image {
                @extend input.title;
                width: 30%;
                height: 100px;
                background-color: white;
                position: relative;
                .rectangle {
                    position: absolute;
                    background-color: #ededed;
                    width: 50px;
                    height: 50px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        content: "";
                        background-color: #707070;
                        width: 37px;
                        height: 1px;
                    }
                    &::after {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        content: "";
                        background-color: #707070;
                        width: 1px;
                        height: 37px;
                    }
                }
            }
        }

        button.send {
            @extend input.title;
            cursor: pointer;
            margin-bottom: 15px;
        }
    }
}
