.darken-background#forum-new-post-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 8000;
    // display: none;
    .forum-modal.new-article { 
        margin: 0 auto;
        max-width: 800px;
        max-height: 500px;
        margin-top: 10px;
        background-color: #ededed;
        position: relative;
        top: 30px;
        z-index: 10100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        @include table() {
            width: calc(576px * .8);
        }
        @include mobile() {
            width: calc(375px * .9);
        }
        span.info {
            position: absolute;
            display: inline-block;
            background-color: #ededed;
            width: 100px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            padding: 0;
            border-radius: 30px 30px 0 0;
            top: -30px;
            left: 50%;
            z-index: 10100;
            transform: translateX(-50%);
        }
        .cross {
            position:absolute;
            right: 30px;
            top: 20px;
            cursor: pointer;
            @include table() {
                right: 16px;
            }
            @include mobile() {
                right: 13px;    
            }

        }
        input.title.forum-title {
            width: 80%;
            height: 40px;
            margin-top: 15px;
            margin-bottom: 0;
            border: solid #00429d 2px;
            border-radius: 10px;
            padding: 10px;
            outline: none;
        }

        select.category {
            @extend input.title.forum-title;
        }

        textarea.new-article-content {
            @extend input.title.forum-title;
            min-height: 100px;
            height: 200px;
            resize: none;
        }
        .upload-images {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
            .single-image {
                @extend input.title.forum-title;
                width: 30%;
                height: 100px;
                background-color: white;
                position: relative;
                @include mobile(){
                    height: 80px;
                }
                div.rectangle {
                    position: absolute;
                    background-color: #ededed;
                    width: 50px;
                    height: 50px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        content: "";
                        background-color: #707070;
                        width: 37px;
                        height: 1px;
                    }
                    &::after {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        content: "";
                        background-color: #707070;
                        width: 1px;
                        height: 37px;
                    }
                }
            }
        }

        button.send-forum-content {
            @extend input.title.forum-title;

            cursor: pointer;
            margin-bottom: 15px;
            &:active {
                cursor: pointer;
                box-shadow: 2px 2px #00429d;
                background-color: $white;
                box-shadow: 0.3px 0.3px 3px 4px rgb(255, 255, 255) inset,
                2px 2px 5px 3px rgb(131, 128, 128) inset, 1px 1px #00429d;
                
            }
        } 
    }
}
