main.main.forum-content {
    padding-bottom: 50px;
    @include bgnormal(100%);
    .back {
        padding-top: 34px;
        .button-block-frontend.back-post {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .page-container-single-article {
        @extend %page-container-single-article;
    }

}