main.main.forum-content {
    padding-bottom: 50px;
    @include bgnormal(100%);
    .back {
        max-width: 916px;
        width: 90%;
        margin: 0 auto;
        @include table() {
            width: 576px;
        }
    
        @include mobile(){
            width: 375px;
        }
        
        padding-top: 34px;
        .button-block-frontend.back-post {
            display: flex;
            justify-content: flex-start;
        }
    }
    
    .page-container-single-article {
        @extend %page-container-single-article;
    }

    .darken-background#report-mask {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        top: 0;
        left: 0;
        z-index: 8000;
        .report-block {
            h3 {
                text-align: center;
            }
            // border: solid red 1px;
            width: 300px;
            height: 300px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ededed;
            form {
                padding: 0 30px;
                // border: solid blue 1px;
                display: flex;
                flex-direction: column;
                label {
                    padding: 10px 0;
                }
                .button-block{
                    padding-top: 20px;
                    display: flex;
                    justify-content: space-around;
                    
                }
            }
        }
    }   
}