
body {
    position: relative;
    main.main.forum-home {
        @include bgnormal(100%);
        width: 100%;
        // max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 50px;
        @include mobile() {
            padding: 0 10px;
        }
        .article-list {
            @extend %article-list;
        }
    }
}