// 影片
.video__container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
  
video {
  object-fit: cover; 
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}
  
.video__container:after {
  content: '';
  display: block;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(black, .2);
  z-index: 1;
}
    
.viedo-textoverlay {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  height: 100%;
  text-align: left;
  position: relative;
  z-index: 10;
  width: 70%;
  margin: 10%;
  align-self: flex-start;
}

.video-quote{
  font-weight: 800;
  font-size: 100px;
  color: #fff;
  text-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
}
  
.btn-hover {
  width: 300px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color {
  background-image: linear-gradient(to right, #E75F49, #E75F49, #FFEF36, #FFA10A, );
  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
}

@media screen and (max-width:767.98px) {
  .video-quote{
    font-size:70px;
  }
  .index-button{
    margin-top: 20px;
  }
}



// 如何為人生第一場三鐵安排訓練？
.slider__wrapper {
  display: block;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.flex__container {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.flex__container.flex--active {
  z-index: 2;
}

.flex__content {
  position: absolute;
  margin: 5% 10%;
  color: #fff;
  width: 50%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
  z-index: 3;
  text-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
}

.flex__item {
  color: #fff;
  transition: transform 0.1s linear;
}

.flex__item--left {
  display: flex;
  align-items: center;
  width: 30%;
  transform-origin: left bottom;
  transition: transform 0.1s linear 0.4s;
  opacity: 0;
  position: relative;
  overflow: hidden;
}

.flex__item--right {
  width: 70%;
  transform-origin: right center;
  transition: transform 0.1s linear 0s;
  opacity: 0;
}

.text--sub {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text--big {
  font-size: 60px;
  font-weight: bold;
  margin:0 0 0 -4px;
}

.text--normal {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 22px;
  margin-top: 25px;
}

.text__background {
  position: absolute;
  left: 72px;
  bottom: -60px;
  color: rgba(0, 0, 0, 0.05);
  font-size: 170px;
  font-weight: 700;
}

@media screen and (max-width:767.98px) {
  .flex__content {
    width: 90%;
    margin: 10%;
  }
  .flex__item--left {
    width: 0%;
  }
   .flex__item--right {
    width: 100%;
  }
  .text--sub {
    font-size: 30px;
  }
  .text--big {
    font-size: 40px;
  }
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
  opacity: 1;
}

/* slider 1 */
.flex--one .flex__item--left {
  background: #E75F49;
}
.flex--one .flex__item--right {
  background: #00429D;
}

/* slider 2*/
.flex--two .flex__item--left {
  background: #707070;
}
.flex--two .flex__item--right {
  background: #E75F49;
}

/* slider 3*/
.flex--three .flex__item--left {
  background: #00429D;
}
.flex--three .flex__item--right {
  background: linear-gradient(180deg, rgba(255,161,10,1) 50%, rgba(255,239,54,1) 100%);
}

.slider__img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  max-height: 45vw;
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

@media screen and (max-width:767.98px) {
  .slider__img {
  max-height: 70vw;
  right: -100px;
  }
}

.slider__navi {
  position: absolute;
  top: 300px;
  right: 20px;
  transform: translateY(-50%);
  z-index: 999;
}

.slider__navi a {
  display: block;
  height: 6px;
  width: 20px;
  margin: 20px 0;
  text-indent: -9999px;
  box-shadow: none;
  border: none;
  background: rgba(0, 0, 0, 0.2);
}

.slider__navi a.active {
  background: #ffef36;
}

.flex__container.animate--start .flex__content {
  transform: translate3d(0, -200%, 0);
  opacity: 0;
}

.flex__container.animate--start .slider__img {
  transform: translate3d(-200px, 0, 0);
  opacity: 0;
}

.flex__container.animate--end .flex__item--left {
  transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
  transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
  transform: translate3d(0, 200%, 0);
  opacity: 0;
}

.flex__container.animate--end .slider__img {
  transform: translate3d(200px,0,0);
  opacity: 0;
}


  
// 讓TriClub 帶你更專業scss
.pro__training{
  display: block;
  position: relative;
  height: 900px;
}

.pro__training-bg{
  position: absolute;
  left: 0;
  top:0;
}
  
.pro__training__title{
  margin: 0 20%;
  padding-top: 5%;
}

.pro__training__title .text--normal {
  color: #000;
  margin-top: 20px;
}

@media screen and (max-width:767.98px) {
  .pro__training{
    height: 650px;
  }
  .pro__training__title {
    margin: 10%;
    padding: 0;
    line-height: 1;
  }
  .text--small {
    font-size: 24px;
  }
  .pro__training-bg{
    display: none;
  }
}

.sport-container-one{
  position:absolute;
  bottom: 145px;
  right: 0px; 
}

.sports {
  position:absolute;
  bottom: 30px;
  right: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px ;
  margin: 0 4%;
  text-align: center;
}

.sports img {
  width: 300px;
}

.sport-container-two{
  display: none;
}
  
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sports {
  grid-gap: 20px;
  }
  .sports img {
  width: 200px;
  }
}

.sports .item {
  text-align: center;
  width: 100%;
}

.pic-container {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 0;
}

.pic-container .pic2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.pic-container:hover .pic2 {
  opacity:1;
}


@media screen and (max-width:767.98px) {
  .sport-container-one{
    display: none;
  }
  .sport-container-two{
    display: block;
  }

  .sport-container-two {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center; 
  }
  
  .sports__container {
    position: relative;
    margin: 5px;
    width: 50%;
    height: 200px;
  }
  
}

/* 跑馬燈 */
.banner{
  text-align: left;
  max-width: 100%;
  background-color: #FFEF36;
  height: 68px;
  position: absolute;
  bottom: 55px;
}

.marquee-container{
  padding: 10px;
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
}

@media screen and (max-width:767.98px) {
  .banner{
    height:auto;
  }
  .marquee-container{
    padding: 5px;
    font-size: 20px;
  }
}
    
    
    
    
/* 開始製作我的個人計畫 */
.training__plan{
  display: block;
  height: 1400px;
  width: 100%;
  position: relative;
  background-color: #00429D;
  z-index: 8;
}

.training__plan__svg{
  position: absolute;  
  top: 23%;
  z-index: -1;   
}

.training__plan__title{
  color: #fff;
  margin: 0 50%;
  padding-top: 5%;
  width: 550px;
}

.training__plan__photo{
  position: absolute;
  top:-45px;
  left: 50px;
}

@media screen and (max-width:767.98px) {
  .training__plan__title{
    margin-left: 10%;
    width: 415px;
  }
  .training__plan__photo{
    height: 500px;
    top: 375px;
    left: 150px;
  }
}

    
/* 這裡是放計畫表的黃色塊 */	
.training__plan__container{
  position: absolute;  
  top: 55%;           
  left: 0;        
  right: 0;
  margin: auto; 
}

.plan video{
  object-fit: cover;
  width: 100%;
  border: 5px solid #FFEF36;
}
  
    
    
    
    /* TriClub會員專屬 */
    .member__FAQ{
    display: block;
    min-height: fit-content;
    width: 100%;
    position: relative;
    background-color: #E75F49;
    padding-bottom: 3%;
    z-index: 30;
    }
    
    .member__title {
    padding: 5% 10% 2%;
    color: #fff;
    }
  
    .member__photo{
      position: absolute;
      top:-60px;
      right: 150px;
      z-index: -10;
    }

    @media screen and (max-width:767.98px) {
      .member__photo{
        height: 800px;
        right: 10px;
      }
    }
  
      
    /* 會員權益表格  */
    .member-table {
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    width: 60%;
    padding: 0 10%;
    }
    
    th {
    background-color: #00429D;
    color: #fff;
    border-bottom: 1px solid #d1d1d1;
    }
    
    th, td {
    padding: 0.75em;
    text-align: center;
    }
    
    td {
    background-color: white;
    }
    
    td:first-child {
    text-align: left;
    }
    
    tbody tr:nth-child(odd) td {
    background-color: #f6f6f6;
    }
    
    thead th:first-child {
    border-top-left-radius: 10px;
    text-align: left;
    }
    
    thead th:last-child {
    border-top-right-radius: 10px;
    }
    
    tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    }
    
    tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    }
    
    @media only screen and (max-width: 768px) {
      .member-table {
      width: 90%;
      }
    }  
    
    
    /* FAQ區塊 */
    .FAQ__container {
    display: block;
    padding: 100px;
    background-color: #fff;
    width: 80%;
    border-radius:10px;
    margin: 5% 10%; 
    z-index: 1000;
    }

    @media screen and (max-width:767.98px) {
      .FAQ__container {
        margin: 5%;
      }
    }
    
    .faq-drawer {
    margin-bottom: 30px;
    }
    
    .faq-drawer__content-wrapper {
    font-size: 1.25em;
    line-height: 1.4em;
    max-height: 0px;
    overflow: hidden;
    transition: 0.25s ease-in-out;
    }
    
    .faq-drawer__title {
    border-top: #000 1px solid;
    cursor: pointer;
    display: block;
    font-size: 1.25em;
    font-weight: 700;
    padding: 30px 0 0 0;
    position: relative;
    margin-bottom: 0;
    transition: all 0.25s ease-out;
    }
  
    .faq-drawer__content{
      margin: 20px;
    }
    
    .faq-drawer__title::after {
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: " ";
    display: block;
    float: right;
    height: 10px;
    left: 2px;
    position: relative;
    right: 20px;
    top: 2px;
    transform: rotate(135deg);
    transition: 0.35s ease-in-out;
    width: 10px;
    }
    
    .faq-drawer__title:hover { 
    color: #4E4B52;
    }
    
    .faq-drawer__trigger:checked
    + .faq-drawer__title
    + .faq-drawer__content-wrapper {
    max-height: 350px;
    }
    
    .faq-drawer__trigger:checked + .faq-drawer__title::after {
    transform: rotate(-45deg);
    transition: 0.25s ease-in-out;
    }
    input[type="checkbox"].faq-drawer__trigger {
    display: none;
    }
    
    
    @media only screen and (max-width: 768px) {
      .FAQ__container {
      width: 90%;
      padding: 50px;
      }
    }
    
    
    
    
  /* 三鐵賽事訓練班 */
  .training__course {
    display: block;
    position: relative;
  }
  
  .training__course__title {
    color: #000;
    margin: 5% 10%;
  }
  @media only screen and (max-width: 768px) {
    .training__course__title {
      margin: 10% 10% 0;
    }
  }
  
  .training__course__title .text--normal {
    color: #000;
    margin-top: 20px;
  }
  
  .training__course__svg {
    position: absolute;
    bottom: 5%;
    z-index: -100;
  }
  
  .course__flex-container {
    display: flex;
    margin: 0 7% 6%;
    justify-content: center;
    align-items: center; 
    }
  
    .course__container {
      position: relative;
      margin: 20px;
      width: 300px;
      height: 400px;
    }

    @media only screen and (max-width: 768px) {
      .course__flex-container {
        flex-direction: column;
      }
      .course__container {
        margin: 30px;
      }
    }
    
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: all 0.5s ease;
    }
    
    .course__container:hover .overlay {
      display: block;
      background: rgba(0, 0, 0, .3);
    }
    
    
    .course__title {
      position: absolute;
      width: 100%;
      left: 0;
      top: 150px;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      color: white;
      z-index: 1;
      transition: top .5s ease;
    }
    
    .course__container:hover .course__title {
      top: 90px;
    }
    
    .course__button {
      color: white;
      position: absolute;
      width: 100%;
      left:0;
      top: 220px;
      text-align: center;
      opacity: 0;
      transition: opacity .35s ease;
      z-index: 600;
    }
    
    .course__button a {
      width: 200px;
      padding: 12px 48px;
      text-align: center;
      color: #fff;
      // border: solid 2px white;
      border-radius:40px;
      background-image: linear-gradient(to right, #FFEF36, #FFA10A,#E75F49);
      z-index: 650;
      text-decoration:none;
    }
    
    .course__container:hover .course__button {
      opacity: 1;
      color: #fff;
    }
    
    /* Group Training 團體訓練   */
    #course__item_1 {
    background: url('../src/images/img/index/grouptraning_300x450.jpg');
    width: 100%;
    height: 100%;    
    position: absolute;
    max-width: 95%;
    text-align: center;
    }
    #course__item_2 {
    width: 100%;
    height: 100%;
    background: #FFEF36;
    position: absolute;
    max-width: 95%;
    left: 5%;
    top: 5%;
    z-index:-1;
    }
    
    /* Personal Coach 個人教練 */
    #course__item_3 {
    background: url('../src/images/img/index/personalcoach_300x450.jpg');
    width: 100%;
    height: 100%;    
    position: absolute;
    max-width: 95%;
    text-align: center;
    }
    #course__item_4 {
    width: 100%;
    height: 100%;
    background: #00429D;
    position: absolute;
    max-width: 95%;
    left: 5%;
    top: 5%;
    z-index:-1;
    }
    
    /* Fitness營養規劃 */
    #course__item_5 {
    background: url('../src/images/img/index/fitness_300x450.jpg');
    width: 100%;
    height: 100%;    
    position: absolute;
    max-width: 95%;
    text-align: center;
    }
    #course__item_6 {
    width: 100%;
    height: 100%;
    background: #E75F49;
    position: absolute;
    max-width: 95%;
    left: 5%;
    top: 5%;
    z-index:-1;
    }
    
    
    
    /* 鐵人三項賽事時間表 */
    .triathlon__events{
    border: 1px solid $blue;   
    display: block;
    background-color: $blue;
      div{  
        position: relative;
      }
      div.events__title {
        margin: 5% 10% 2%;
        color: #fff;
        }
        
      main{
        background-color: $blue;
        background-image: none;
        margin: 0 2%;
      }
    }	
    

#course__item_7 {
  background: url('../src/images/img/index/bike_255x255.jpg');
  width: 100%;
  height: 100%;    
  position: absolute;
  max-width: 95%;
  text-align: center;
}

#course__item_8 {
  background: url('../src/images/img/index/run_255x255.jpg');
  width: 100%;
  height: 100%;    
  position: absolute;
  max-width: 95%;
  text-align: center;
}
  
  #course__item_9 {
    background: url('../src/images/img/index/swim_255x255.jpg');
    width: 100%;
    height: 100%;    
    position: absolute;
    max-width: 95%;
    text-align: center;
  }


