//***後台課程主頁***
main.manage-classes-home {
  // border: 1px solid red;
  > div {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: $bottomspacing;
    // border: 1px solid red;
    // bookmark for classes only
    .classesonly {
      border: none;
      outline: none;
      background-color: transparent;
    }

    .classbtn {
      padding: 10px;
      display: flex;
      justify-content: flex-end;
      button.classesbtn {
        justify-content: center;
        // box-shadow: 5px 5px #00429d;
        align-self: flex-end;
        width: 100px;
        height: 40px;
        outline: none;
      }
    }
    // grid
    .manage-classesgrid {
      width: 785px;
      overflow-y: auto;
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 20px 20px;
      justify-content: space-between;
      .classesgrid_simple {
        width: 245px;
        height: 245px;
        border: 1px solid $black;
        border-radius: 5px;
        font-size: 0px;
        overflow: hidden;
        position: relative;
        a {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 2;
          cursor: pointer;
        }
        p {
          width: 100%;
          position: absolute;
          bottom: 0%;
          height: 20%;
          margin-bottom: 0;
          background-color: rgba(255, 255, 255, 0.8);
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          span {
            margin-bottom: 0;
            font-size: 16px;
            text-align: center;
            overflow: hidden;
            color: $black;
          }
        }
        img {
          width: 100%;
        }
      }
    }

    div.pagination {
      margin-top: 20px;
      margin-bottom: $bottomspacing;
      justify-content: center;
      li a {
        color: $blue;
      }
      span {
        color: $blue;
      }
    }
  }
}

//***後台課程內頁***
.manage-classes-content {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
  // border: 1px solid red;
  // bookmark for classes only
  .classesonly {
    border: 1px solid red;
    border: none;
    background-color: transparent;
  }

  .classesWrapper {
    // border: 1px solid red;
    width: 900px;
    padding-top: 50px;
    .classesContent {
      display: flex;
      flex-direction: column;
      // border: 1px solid rgb(81, 255, 0);
      width: 800px;
      label {
        font-weight: 600;
        margin-top: 10px;
      }
      input,
      textarea {
        border: none;
        height: 30px;
        border-radius: 5px;
        width: 80%;
        margin-top: 10px;
      }
      textarea {
        height: 400px;
      }
      hr {
        width: 100%;
        margin-top: 10px;
      }
      select {
        width: 150px;
      }
    }
  }
}
