main#manage-black-list {
    div.button-block-manage {
        // justify-content: flex-start;
    }
    div.black-list {
        width: 915px;
        margin: 0 auto;
        table.black-list-table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0px 15px;
            thead {
                tr.table-title {
                    td {
                        width: calc(100% / 5);
                        padding: 0px 10px;
                    }
                    td.check-box {
                        display: flex;
                        @include flexcenter();
                        
                    }
                }
            }
            tbody.black-list-items {
                tr.black-list-item {
                    td {
                        border-top: solid black 1px;
                        border-bottom: solid black 1px;
                        padding: 15px 10px;
                        &:last-child {
                            border-right: solid black 1px;
                        }
                    }
                    td.check-box {
                        border-left: solid black 1px;
                        display: flex;
                        align-items: center;
                        
                        input {
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}