.member-main{
    @include bgnormal(100%);
    .member-bgwhite{
        @include bgwhite();
        width: 100%;
        max-width:1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        .left-area{
            width:100%;
            flex:0;
            display: inline-block;
            text-align: center;
            margin: 50px 30px 0 20px;
            .member-photo { 
                width: 76px;
                height: 76px;
                border-radius: 50%;
                position: relative;
                margin: 0 auto;
                input.upload-image {
                    opacity: 0;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    &:hover{
                        &::before{
                            content: "修改";
                            width: 20px;
                        }
                    }
                }
                img.avatar{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    box-shadow: 1px 2px 0 3px $orange;
                }
                
            }
            .member-name-left{
                border: 1px solid black;
                border-radius: 10px;
                background-color: $white;
                width: 100px;
                text-align: center;
                margin: 20px auto;
                position: relative;
                &::before, &::after{
                    content: "";
                    background-color: rgba(0, 0, 0, .5);
                    width: 70%;
                    height: 2px;
                    position: absolute;
                    transform: rotate(-5deg);
                }
                &::before{
                    left: 100%;
                    top: 10%;
                }
                &::after{
                    right: 100%;
                    top: 80%;
                }
            }
            .member-info-left{
                list-style: none;
                padding: 0;
                margin: 30px 0 100px 0;
                text-align: center;
                li{
                    margin-bottom: 20px;
                }
            }
            input.orangebutton {
                cursor: pointer;
            }
        }
        .right-area{
            flex:1;
            width:100%;
            display: inline-block;
            margin-top: 50px;
            .title{
                margin: 0 0 30px 0;
            }
            .member-info-right{
                background-color: $white;
                box-shadow: 5px 5px 0 5px $orange;
                border-radius: 10px;
                // width:817px;
                max-width: 817px;
                width:100%;
                height: 374px;
                position: relative;
                margin-bottom: $bottomspacing;
                .member-info-right-top{
                    display: flex;
                    justify-content: space-around;
                    padding: 20px 10px 0 30px;
                    .firstpartleft{
                        display: inline-block;
                        input{
                            margin: 15px auto;
                            width: 73%;
                        }
                    }
                    .firstpartright{
                        margin:0;
                        list-style: none;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        // justify-content: space-around;
                        li:nth-child(1){
                            margin-top: 20px;
                        }
                        li{
                            margin-bottom:35px;
                        }
                    }
                    .edit-btn{
                        border: none;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        position:absolute;
                        top:10px;
                        right:10px;
                    }
                }
                .firstpart-btn{
                    text-align: end;
                    margin-top: 15px;
                    padding-right: 10px;
                    display: none;
                    .orangebutton{
                        margin-left: $buttonspacing;
                        width: 200px;
                        cursor: pointer;
                    }
                }
                .changepw{
                    color: black;
                }
                #popup-bg{
                    z-index: 1;
                    display: none;
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .5);
                    .content{
                        width: 450px;
                        height: 450px;
                        background-color: $white;
                        border-radius: 10px;
                        box-shadow: 3px 3px 0 3px $orange;
                        margin: 10% auto;
                        padding: 20px 50px;
                        h2{
                            text-align: center;
                            margin-top: 8%;
                        }
                        .maincontent{
                            text-align: center;
                            margin-top: 15%;
                            .editarea{
                                background-color: transparent;
                                border: none;
                                border-bottom: 3px solid $blue;
                                padding: 5px;
                                margin: 15px 0;
                                width: 310px;
                                outline: none;
                            }
                            .required{
                                color: red;
                            }
                        }
                        .close-btn{
                            text-align: end;
                            margin-top: 10%;
                            .cancel-btn{
                                border: none;
                                background-color: transparent;
                                width: 80px;
                                height: 30px;
                                cursor: pointer;
                            }
                            .submit-btn{
                                border: none;
                                border-radius: 30px;
                                background-color: $orange;
                                color: white;
                                width: 90px;
                                height: 30px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .member-search{
                display: flex;
                justify-content: flex-end;
                margin-bottom: 10px;
                .search-btn{
                    border: 1px solid black;
                    border-right: none;
                    background-color: #FFF;
                    cursor: pointer;
                    padding: 3px;
                    
                }
                .searchbar{
                    border: 1px solid black;
                    border-left: none;
                    width: 15%;
                    outline: none;
                    padding-left: 5px;
                    background: white;
                }
            }
            .grid-order{
                border: 1px solid black;
                display: grid;
                grid-template-columns: 65% auto auto;
                margin: 5px 0 $bottomspacing 0;
                .grid-items1{
                    background-color: white;
                    padding: 15px 15px;
                    a{
                        text-decoration: none;
                        color: black;
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                    }
                }
                .grid-items2{
                    background-color: $blue;
                    padding: 15px 15px;
                    color: white;
                    a{
                        text-decoration: none;
                        color: white;
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
// 此變數為767寬度下的max-width
$forwidth767:750px;
@media all and (max-width: 767px) {
    .member-main .member-bgwhite{
        flex-direction: column;
        justify-content:center;
        max-width:$forwidth767;//最外面的padding 你們自己再微調
        padding:5px;
        .left-area{
            max-width:$forwidth767;
            margin:20px 0 20px;
            // margin:50px auto 20px;
        }
        .right-area{
            max-width:$forwidth767;
            .member_data_membertitle{
                display:none;
            }
            .member-info-right{
                width:100%;
                padding:20px 0 0;
                box-shadow:none;
                .member-info-right-top .firstpartleft input{
                    width:77%;
                    max-width:250px;
                }
            }
            .grid-order{
                box-sizing: border-box;
                width:100%;
                border:none;
                .grid-items1,.grid-items2{
                    // padding:0;
                    width:100%;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    // overflow: hidden;
                    font-size:16px;
                }
            }
        }
        
    }
}
$forwidth576:559px;
@media all and (max-width: 576px){
    #header #header_wrapper{
        min-width:0;
    }
    .member-main{
        max-width:$forwidth576;
        margin:0 auto;
        .member-bgwhite{
            max-width:$forwidth576;
            .right-area{
                .member-info-right .member-info-right-top{
                    padding:20px;
                    flex-direction: column;
                    align-items: center;
                    .firstpartleft{
                        margin:0;
                        width:100%;
                        max-width:350px;
                    }
                    .firstpartright{
                        margin-top:40px;
                        width:100%;
                        max-width:350px;
                        li{
                            margin-bottom:25px;

                        }
                   }
                }
                .member-info-right{
                    height:auto;
                    position:relative;
                    .member-info-right-top .edit-btn{
                        position:absolute;
                        top:5px;
                        right:5px;
                    }
                }
            } 
        }
    } 

}
#ctyForChangePassword{
    position:relative;
    #changepw{
        position:absolute;
        white-space: nowrap;
        bottom:-30px;
        left:0;
    }
}
#ctyForGridOutline{
        display:flex;
        flex-direction: column;
        .ctyForGrid{
            display:grid;
            grid-template-columns: 3fr 1fr minmax(90px,1fr);
            .ctyForGridContent{
                display:flex;
                justify-content: center;
                align-items: center;
                padding:20px;
                // text-align: center;
            }
            .ctyForGridContent:nth-child(3){
                text-align: center;
            }
            .ctyForGridContent:nth-child(2){
                white-space: nowrap;
            }
            .ctyForGridContent>span{
                display:none;
            }
        }
}
@media all and (max-width:576px){
    #ctyForGridOutline{
        .ctyForGrid{
            grid-template-areas:'grid1 grid1 grid1 grid2 grid2' 'grid3 grid3 grid3 grid3 grid3' ;
            .ctyForGridContent:nth-child(1){
                grid-area: grid1;
                padding:20px 20px 10px;
            }
            .ctyForGridContent:nth-child(2){
                grid-area: grid2;
                padding:20px 20px 10px;
            }
            .ctyForGridContent:nth-child(3){
                grid-area: grid3;
                padding:0;
                justify-content:flex-start;
                padding-left:20px;
                #ctyForNone{
                    display:none;
                }
            }
            .ctyForGridContent>span{
                display:inline-block;
            }
        }
    }
}

