#member-forgot{
    @include bgplan(100%);
    display: flex;
    justify-content: center;
    padding: $bottomspacing;
    .forgot-bg{
        @include questionbox();
        width: 720px;
        height: 550px;
        .forgot-content{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            img{
                width: 220px;
                height: 30px;
                margin-bottom: 20px;
                display: flex;
                align-self: center;
            }
            h2{
                text-align: center;
                margin-bottom: 20px;
                position: relative;
                &::after{
                    content: "";
                    width: 600px;
                    height: 2px;
                    background-color: $orange;
                    position: absolute;
                    top: 120%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                @include table(){
                    &::after{
                        width: 430px;
                    }
                }
                @include mobile(){
                    &::after{
                        width: 330px;
                    }
                }
            }
            .input-wrapper{
                text-align: center;
                margin-top: 30px;
                margin-bottom: 20px;
                .forgot-input{
                    border: none;
                    border-bottom: 3px solid $blue;
                    background-color: transparent;
                    padding: 5px;
                    margin-bottom: 20px;
                    width: 300px;
                    outline: none;
                    @include table(){
                        width: 300px;
                    }
                    @include mobile(){
                        width: 250px;
                    }
                }
                .required{
                    color: red;
                }
            }
            p{
                text-align: center;
                margin-bottom: 10px;
                width: 350px;
                @include mobile(){
                    width: 320px;
                }
            }
            .btn-wrapper{
                text-align: center;
                margin-top: 20px;
                .orangebutton{
                    width: 250px;
                    height: 40px;
                    @include mobile(){
                        width: 200px;
                    }
                }
            }
        }
        .previouspage{
            display: inline-block;
        }
    }
}