#member-register{
    @include bgplan(100%);
    display: flex;
    justify-content: center;
    padding: $bottomspacing;
    .register-bg{
        @include questionbox();
        width: 720px;
        height: 550px;
        // border: 1px solid red;
        .register-content{
            // border: 1px solid blue;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            img{
                width: 220px;
                height: 30px;
                // border: 1px solid red;
                margin-bottom: 20px;
                display: flex;
                align-self: center;
            }
            h2{
                // border: 1px solid blue;
                text-align: center;
                margin-bottom: 20px;
                position: relative;
                &::after{
                    content: "";
                    width: 650px;
                    height: 2px;
                    background-color: $orange;
                    position: absolute;
                    top: 120%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .input-wrapper{
                // border: 1px solid green;
                text-align: center;
                margin-top: 25px;
                .register-input{
                    border: none;
                    border-bottom: 3px solid $blue;
                    background-color: transparent;
                    padding: 5px;
                    margin-bottom: 10px;
                    width: 300px;
                    outline: none;
                }
                .notice{
                    font-size: 12px;
                    margin-top: 10px;
                    display: inline-block;
                    cursor: pointer;
                    input[type='radio']{
                        vertical-align: text-bottom;
                    }
                }
                .required{
                    color: red;
                }
            }
            .fb-btn{
                margin-top: 30px;
                display: flex;
                align-self: center;
                border: none;
                cursor: pointer;
                background-color: transparent;
                i{
                    font-size: 30px;
                    color: #3B5998;
                    span{
                        font-size: 1rem;
                        color: black;
                        margin-left: 5px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
            p{
                text-align: center;
                margin-top: 10px;
            }
            .btn-wrapper{
                // border: 1px solid red;
                text-align: center;
                margin-top: 20px;
                .orangebutton{
                    width: 250px;
                    height: 40px;
                }
            }
        }
        .previouspage{
            display: inline-block;
        }
    }
}