//**記得在這邊import你的scss**

// 討論區
@import "./forum-home";
@import "./forum-content";
@import "./forum-new";

<<<<<<< HEAD

// 訓練課程
@import "./classes-home";
//訓練計畫表
@import "./plan-temporary";

//後台
@import "./manage-employees";  //人員管理
@import "./manage-forum-home"; //討論區管理首頁
@import "./manage-forum-content";
@import "./manage-forum-report";
=======
// 訓練課程
@import "./class-home";
@import "./plan-temporary";
>>>>>>> lawrence
