main.plan_member_wrapper{
   
    display: grid;
    grid-template-columns: 1fr 5fr;
    
}

    ////// *** 左邊 *** //////
//=================================//

//會員資料
header.plan_member_aside{
    background-color: rgba(237, 237, 237, .9);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
    .plan_member_aside_container{
        @include flexcenter();
        flex-direction: column;
        position: sticky;
        top: 80px;
        height: 100vh;
        // border:2px solid blue;
            header{
                width: 50%;
                @include flexcenter();
                flex-direction: column;
                .plan_member_photo{
                    width: 100px;
                    border-radius: 50%;
                    font-size: 0;
                    position:relative;
                    &::after{
                        clear: both;
                        content: "";
                        z-index: -1;
                        position:absolute;
                        top:5px;
                        left:5px;
                        border-radius: 50%;
                        width:100px;
                        height:100px;
                        background: $yellowgradient;
                    }
                    img{
                        border-radius: 50%;
                        border:1px solid $orange;
                        width: 100%;
                        
                    }
                }
            }

            div.plan_member_button{
                // border: 2px solid red;
                display: flex;
                width: 90%;
                height: 150px;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                button{
                    width: 100%;
                    height: 35px;
                }
            }
    }
}
//會員參賽資料
main.plan_member_main_content{
    display: flex;
    flex-direction: column;
    // border: 2px solid red;
    width: 100%;
    div{
        // border: 2px solid rgb(0, 255, 200);
        display: flex;
        flex-direction: column;
        
    }
}

    /////// *** 右邊 *** ///////

//計畫表
section.plan_member_content{
    // border: 2px solid rgb(0, 255, 106);
    width: 100%;
    margin-left: 0;
    gap: 0;
    //天數TITLE
    #plan_week{
        max-width:1000px ;
        margin: 0 auto;
        margin-top: 50px;
        ul{
            // border: 3px solid white;
            margin: 0 auto;
            width: 100%;
            margin-left: 3%;
            padding: 10px;
            color: black;
            list-style: none;
            @include flexcenter;
            justify-content: space-around;
            border-radius: 10px;
            background-color: rgba(255,255,255,0.8);
            li{
                @include fontfamily(500);
            }
        }
    }
    //計畫表TABLE
    .plan_scroll{
        // border: 2px solid rgb(15, 6, 139);
        display: flex;
        flex-direction: column;
        #plan_member_table{
        display: flex;
        // max-width: 1000px;
        margin-bottom:50px;
        margin-top:10px;

        .week_mark{
            filter: drop-shadow(0px 3px  $orange);
            background-color: $white ;
            font-size: 20px;
            width: 5%;
            display: flex;
            color: $orange;
            border-radius: 30% 0 0 30%;
            height: 70px;
            justify-content: center;
            align-items: center;
            align-self: center;
            @include bgnorepeat();
            font-weight: 600;
            
        }
        ul{
            width: 100%;
            background-color: $white;
            border-radius: 10px;
            box-shadow: 3px 2px 2px 2px rgba(175, 84, 10, 0.2);
            display: grid;
            list-style: none;
            padding-left: 0;
            grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-auto-flow: row;
            border: 3px solid $orange;
            height: 150px;
           }
      
        }
    }
}


//每天的運動icon

li.plan_member_eachday{
    border-right: 2px dashed $orange;
    display: flex;
    flex-direction: column;
    position: relative;
    &:last-child(){
        border-right: none;
    }
    div:first-child{
        // border: 1px solid blue;
        height: 20%;
        background-color: $orange;
        @include flexcenter;
        justify-content:center;
       
        span{
            transform: translate(0%, -50%);
            border: 2px solid $orange;
            border-radius: 50%;
            background-color: $white;
            padding: 10px;
            box-shadow: 3px 2px 2px 1px rgba(175, 84, 10, 0.2);
           
            i{
                width: 20px;
                height: auto;
                @include flexcenter;
            }
        }
    }

}

//內文字
.plan_member_exe{
    height: 70%;
    display: block;
    text-align: center;
    line-height: 2;
    @include fontfamily(400);
    &:hover{
        cursor: pointer;
        
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
        
        &::after{
            border-radius: 50%;
            width: 10%;
            height: 10%;
            content: "";
            border: 1px double rgb(241, 81, 7);
            transform: translate(-50%, -50%);
            left: 90%;
            top: 90%;
            color: white;
            letter-spacing: 2px;
            position: absolute;
         }
    }
    
}

.done{
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(39, 38, 38, 0.8);
        left: 0;
        top: 0;
    }
    &::after{
        padding: 3px 10px;
        border-radius: 3px;
        content: "done!";
        border: 1px double white;
        transform: translate(-50%, -50%);
        transform: scale (0);
        transition: all 2s;
        left: 50%;
        top: 50%;
        color: white;
        letter-spacing: 2px;
        position: absolute;
    }
}

