// // ***lightbox*** //
.plan_question_wrapper {
  @include bgplantem(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  .plan_ques_wrapper {
    @include questionbox();
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-position: center;
    height: 400px;
    width: 700px;
    @include mobile{
      width: 100%;
    }
    .plan_question_content {
      height: 90%;
      .plan_question_content_article {
        @include flexcenter;
        flex-direction: column;
        background-size:contain ;
        background-position: center;
        // border: 2px solid white;
        justify-content: space-around;
        // border:2px solid turquoise;
        height: 100%;
      }
    }
        
        .plan_question_content{
            height: 90%;
            .plan_question_content_article{
                @include flexcenter;
                flex-direction: column;
                justify-content:space-around;
                height: 100%;
            }
        }

    .previouspage {
      display: flex;
      align-items: center;
      justify-content: center;
      
        .plan_question_content{
            height: 90%;
            .plan_question_content_article{
                @include flexcenter;
                flex-direction: column;
                justify-content:space-around;
                // border:2px solid turquoise;
                height: 100%;
                  .select{
                    border:2px solid turquoise;
                    width: 70%;
                    white-space: pre-line;
                    
                    
                }
              
            }
        }
     }
  }
}

//進度條
div.progress_bar{
  // border: 1px solid $blue;
  display: flex;
  flex-direction: row;
  width: 70%;
  padding-right: 5px;
  height: 30%;
  span{
    height: 50px;
    font-weight: 500;
    color: $orange;
  }
  div.progress_bar{
      display: flex;
      justify-content:flex-start;
      width: 60%;
      height: 20px;
      border: 1px solid $blue;
      background-color: #e9ecef;
      border-radius: 8px;
      margin-left: 10px;
      overflow: hidden;
      span.progress{
        margin: 3px;
        height: 80%;
        background-color: $blue;
        border-radius: 8px;
      }
    }
}


.plan_question_content_article{
    hr{
        width: 80%;
        border: 1px solid $orange;
    }
    h1{
        // border: 1px solid $orange;
        text-align: left;
        width: 70%;
        font-weight: 500;  
        @include mobile{
          width: 86%;
          font-size:20px;  
        }
    }
    div{
      display: flex;
      flex-direction: column;
      width: 80%; 
      @include mobile{
        width: 92%; 
      } 
       //   border: 1px solid $orange;
    

       
        hr{
            width: 100%;
            border: 1px solid $orange;
        }
        p{
            // border: 1px solid $orange;
            width: 100%;
            height: 100%;
            line-height: 1.5;
            white-space:pre-line;
            
            @include mobile{
              font-size: 16px;
            }
            
        }
        
    }
    div.select{
        // border: 2px solid deepskyblue;
        height: 50%;
        div{
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: left;
            flex-direction: row;
            width: 100%; 
            @include mobile{
              flex-wrap: wrap;
              align-items: flex-start;
            }
            label{
              // border: 2px solid deepskyblue;
              @include mobile{
                width: 90%;
                margin-bottom: 20px;
              }
              &:hover{
                font-size: 18px;
              }
            } 
            input{
              width: 20px;
              height: 20px;
            }
        }
        select{
            
            border: none;
            border-radius: 5px;
            background: linear-gradient(-30deg,#e75e49c9,#ffa10aa1,#f8e72b);
            padding: 2px 10px;
            width: 100%;
            box-shadow: 2px 2px $orange;
        }
    }
  }
 

#lightboxbtn {
  display: flex;
  @include flexcenter();
  width: 40%;
  @include mobile() {
    height: 15%;
  }
}

// ***計畫表*** //

.plan_scroll {
  padding-top: 15px;
}
#plan_wrapper {
  height: 100%;
    @include bgplan(100%);

  padding-bottom: $bottomspacing;
  @include table(){
    height: 100%;
    
  }
 
  #plan_head {
    width: 100%;
    @include flexcenter;
    position: relative;
    text-align: center;
    @include mobile(){
      top:30px;
    }
    .tip1{
      
      p{
        text-align: left;
        // margin: 0;
        
      }
      &::after{
        content: "1";
        color: $orange;
        font-weight: 800;
        padding: 10px 15px;
        position: absolute;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        transform: translate(-50%, -50%);
        top:0;
        left: 0;
        box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.256);
      }
      box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.256);
      background-color: rgba(255,255,255,0.8);
      padding: 0px 5px 0px 15px;
      border-left: 5px solid $orange;
      display: flex;
      align-items: center;
      height: 40%;
      width: 20%;
      border-radius: 5px;
      position:absolute;
      transform: translate(-50%, -50%);
      left: 80%;
      top:30%;
      @include table(){
        left: 40%;
        top:25%;
        height: auto;
        width: 50%;
      }
      @include mobile(){
        left: 50%;
        top:20%;
        height: auto;
        width: 80%;
      }
      
      
    }
    svg.arrow{
      position: absolute;
      left: 60%;
      top: 28%;
      z-index: 20;
      @include table(){
        display: none ;
      }
    }
  }
}
.tick2{
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  animation: 3s tick ease-in-out infinite;
}


@keyframes tick{
  0%, 50% {
    stroke-dashoffset: 180px;
  }
  50%, 100%{
    stroke-dashoffset: 0px;
  }
}

.plan_bg {
  position: relative;
  display: inline-flex;
  justify-content: center;
  margin-top: 5%;
  height: 180px;
  svg {
    position: absolute;
    filter: drop-shadow(2px 2px 3px rgba(94, 51, 3, 0.205));
    height: 100%;
    
  }
  #layer02{
    height: 200px;
  }
  .plan_info {
    z-index: 3;
    color: #282828;
    margin: auto 0;
    line-height: 2;
    display: flex;
    align-items: left;
    flex-direction: column;
    @include fontfamily(500);
    p{
      margin:0 ;
    }
  }
}

section.plan_tem_wrapper {
  height: 100%;
  position: relative;
  //天數head
  #plan_week {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    @include table(){
      display: none;
    }

    ul {
      border: 3px solid white;
      margin: 0 auto;
      width: 95%;
      margin-left: 5%;
      padding: 10px;
      color: black;
      list-style: none;
      @include flexcenter;
      justify-content: space-around;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.8);
      li {
        @include fontfamily(500);
      }
     }
    
  
  .plan_scroll {
    max-width: 1200px;
    margin: 0 auto;
    
   }
}
.tip2{ 
  z-index: 20;
  p{
    margin: 0;
    
  }
  &::after{
    content: "2";
    font-weight: 800;
    color: $orange;
    padding: 10px 15px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    top:0;
    left: 0;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.256);
  }
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.256);
  background-color: rgba(255,255,255,0.8);
  border-left: 5px solid $orange;
  padding: 0px 5px 0px 15px;
  display: flex;
  align-items: center;
  height: 3%;
  width: 22%;
  border-radius: 5px;
  position:absolute;
  transform: translate(-50%, -50%);
  left: 15%;
  top:5%;
  @include table(){
    top:3%;
    left: 30%;
    height: auto;
    width: 30%;
  }
  @include mobile(){
    padding-left: 20px;
    width: 50%;
  }
 
  
}
svg.arrow{
  position: absolute;
  left: 25%;
  top: 3%;
  z-index: 20;
  @include table(){
    display: none ;
  }
}
//訓練表主要內容//
#plan_main_content{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 50px auto;
    @include table(){
        margin-bottom:50px;
        margin-top:0px;
    }

    span.week_mark{
        // border: 3px solid white;
        filter: drop-shadow(0px 3px  $orange);
        background-color: $white ;
        font-size: 20px;
        width: 5%;
        display: flex;
        color: $orange;
        border-radius: 30% 0 0 30%;
        height: 100px;
        justify-content: center;
        align-items: center;
        align-self: center;
        @include bgnorepeat();
        font-weight: 600;
        @include table(){
            background-color: $white ;
            align-self:flex-start;
            height: 80px;
            position: sticky;
            top: 90px;
            margin-top: 15px;
            margin-left: 10%;
            width: 10%;

        }
    }
    ul.plan_main_content_row{
      width: 95%;
      border-radius: 10px;
      box-shadow: 3px 2px 2px 2px rgba(175, 84, 10, 0.2);
      display: grid;
      list-style: none;
      padding-left: 0;
      grid-template-columns:repeat(7, 1fr);
      background-color: rgba(255,255,255,0.8);
      @include table(){
        width: 70%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-color: transparent;
        gap: 10px;
        li{
        background-color: rgba(255,255,255,0.8);
        list-style: none;
        @include table(){
          box-shadow: 5px 5px orange;

        }
        }
      }
    }
}

//每天的運動icon

.plan_eachday{
  border-right: 2px dashed $orange;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 130px;
  &:last-child(){
    border-right: none;
}
    @include table(){
      border-right: none;
      flex-direction: row;
      justify-content:left;;
    }
    &:last-child(){
        border-right: none;
    }
    #plan_week_table{
        display: none;
        @include table(){
            display: block;
            height: 100%;
            width: 20%;
        }
        ul{
            height: 100%;
            justify-content: center;
            align-items: center;

            @include table(){
              align-items: center;
              padding: 0
            }
            li{
                background-color: transparent;
                box-shadow: none;
                border-bottom: 1.3px solid $orange;
                font-weight: 800;
            }
        }
    }
    .orangetitle{
      height: 20%;
      background-color: $orange;
      justify-content:center;
      @include flexcenter;
      @include table(){
          background-color:transparent;
          height: 100%;
          flex-direction: column;
          justify-content: space-between;
          width: 20%;
      }
        span{
            transform: translate(0%, -50%);
            border: 2px solid $orange;
            border-radius: 50%;
            background-color: $white;
            padding: 10px;
            box-shadow: 3px 2px 2px 1px rgba(175, 84, 10, 0.2);
           @include table(){
            transform: translate(0%, 0%);
            
           }
            i{
                width: 20px;
                height: auto;
                @include flexcenter;
            }
        }
     }
  }
}

//內文字
.plan_exe{
    height: 80%;
    display: block;
    text-align: center;
    line-height: 2;
    @include fontfamily(400);
    @include table(){
      font-size: 18px;
      height: 100%;
      width: 80%;
      text-align: left;
  }
    p{
      margin: 0;
      height: 34%;
    }
}

//button
.plan_button {
  position: relative;
  margin-top: 20px;
  @include flexcenter;
  @include fontfamily(500);
  button {
    font-size: 16px;
    margin: 10px 20px;
  }
  .tip3{ 
    z-index: 20;
    p{
      margin: 0;
      
    }
    &::after{
      content: "3";
      font-weight: 800;
      color: $orange;
      padding: 10px 15px;
      position: absolute;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      transform: translate(-50%, -50%);
      top:0;
      left: 0;
      box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.256);
    }
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.256);
    background-color: rgba(255,255,255,0.8);
    border-left: 5px solid $orange;
    padding: 10px 5px 10px 15px;
    display: flex;
    align-items: center;
    width: 22%;
    border-radius: 5px;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 85%;
    top:5%;
    @include table(){
      top:-20%;
      left: 65%;
      height: auto;
      width: 30%;
    }
    @include mobile(){
      padding-left: 20px;
      width: 50%;
    }
   
    
  }
  
}

@keyframes move{
  0%{
      transform: translate(0);
  }
  20%{
      transform: translate(2%,2%);
  }
}
//loading頁面
.loading { 
  z-index: 120;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-220deg, #00429d, #00214f);
  
  svg{
    display: flex;
    align-items: center;
    width:40%;
    height: 100vh;
    margin: 0 auto;
    #second  g{
      animation: move 2s ease forwards infinite;
      animation-delay: calc(var(--order) * 200ms);
      
    }
  }
}

