main.shopcart-home {
  @include bgnormal(100%);

  > div {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: $bottomspacing;
    // 麵包屑上面高度
    padding-top: $bottomspacing;
    background-color: rgba($color: $white, $alpha: 0.8);
    .shopcart-title {
      // border: 1px solid red;
      display: flex;
      position: relative;
      align-content: center;
      img {
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 195px);
      }
    }
    > div:last-child {
      // border: 1px solid red;
      // 購物車商品
      .orderclass {
        // border: 1px solid green;
        display: flex;
        justify-content: space-between;
        .classlist {
          border: 1px solid $orange;
          border-radius: 10px;
          background-color: $white;
          overflow: hidden;
          padding-bottom: 35px;
          width: 820px;
          height: 514px;
          // 共同checkedbox設定
          input {
            margin-left: 20px;
          }
          > div:first-child {
            border: 1px solid $orange;
            background-color: $orange;
            height: 35px;
          }
          > ul.itemlist {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-top: 5px;
            height: 100%;
            overflow-y: auto;
            > li.itemlist_li {
              width: 100%;
              height: 128px;
              // border: 1px solid black;
              display: flex;
              align-items: center;
              padding-right: 40px;
              position: relative;

              > div {
                display: inline-block;
                width: 158px;
                height: 92px;
                overflow: hidden;
                border: 1px solid $orange;
                margin-left: 68px;
                img {
                  width: 100%;
                }
              }
              p.comclasstitle {
                // border: 1px solid green;
                margin: 0px 100px 0px 53px;
                width: 230px;
              }
              p.comprice {
                // border: 1px solid red;
                flex-grow: 1;
              }
              button {
                list-style: none;
                border: none;
                align-self: flex-start;
                color: $orange;
                // margin-left: 5px;
              }
            }
          }
        }
        // 總計欄
        .amount {
          border: 1px solid $orange;
          border-radius: 10px;
          background-color: $white;
          overflow: hidden;
          width: 340px;
          height: 514px;
          margin-right: 10px;
          > p {
            width: 100%;
            height: 35px;
            margin: 0;
            background-color: $orange;
          }
          > div {
            border: 1px solid $black;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0px 40px;
            align-items: center;
          }
          > div:nth-child(-n + 3) {
            height: 132px;
          }
          .point {
            p:nth-child(2) {
              input {
                width: 65px;
              }
            }
          }
          > div:last-child {
            max-height: 100%;
            flex-direction: column;
            p {
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-bottom: 60px;
            }
          }
        }
      }
      // 推薦課程
      .recomclass {
        // border: 1px solid green;
        > p {
          margin: 55px 0px 25px 18px;
        }
        .swiper {
          // border: 1px solid brown;
          width: 95%;
          height: 100%;
          padding-right: 7px;
          .swiper-slide {
            border: 1px solid $black;
            box-shadow: 8px 0px 0px 0px $orange;
            width: 250px;
            height: 258px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            .imgframe {
              // border: 1px solid green;
              width: 100%;
              height: 152px;
              overflow: hidden;
              img {
                width: 100%;
              }
            }
            > div:last-child {
              // border: 1px solid red;
              background-color: $white;
              flex-grow: 1;
              position: relative;
              p {
                // border: 1px solid red;
                display: block;
                position: absolute;
                width: 100%;
                text-align: center;
                top: calc(50% - 17px);
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
