
    $orange: #E75F49;
    $white: #EDEDED;
    $blue: #00429D;
    $yellow: #FFA10A;
    $lightyellow: #FFEF36;
    $yellowgradient: linear-gradient(-30deg,#E75F49,#FFA10A,#FFEF36);
    $bluegradient: linear-gradient(#00429D, #00214F);