$orange: #e75f49;
$white: #ededed;
$blue: #00429d;
$yellow: #ffa10a;
$lightyellow: #ffef36;
$yellowgradient: linear-gradient(-30deg, #e75f49, #ffa10a, #ffef36);
$bluegradient: linear-gradient(#00429d, #00214f);
$black: #282828;
