<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>訓練課程-課程介紹 | Triclub</title> 
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!-- js -->
    <script src="./src/js/vue.js"></script>
    <script src="./src/js/vuex.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"></script>
    <!--component-->
    <script src="./src/component/common/header.js"></script>
    <script src="./src/component/common/footer.js"></script>
    <script src="./src/component/classes/classes-content.js"></script>
    
</head>

<body>
    <!--這是header-->

   <header id="header" :class="{sticky:active}">
        <my-header></my-header><!--這是自定義標籤會被覆蓋-->
   </header>
  

   <!--內容所有都放在這div裡面-->
   <main class="classes-content" id="classes-content">
        <div>
            <!-- breadcrumb  -->
            <!-- <p class="small" v-if="checkCatReG()">團練課程 > 課程介紹</p>
            <p class="small" v-else-if="checkCatReT()">個人教練 > 教練介紹</p>
            <p class="small" v-else-if="checkCatReM()">營養規劃 > 菜單介紹</p> -->
            <p v-for="bc in categories" v-if=" checkCatRe() == bc.show" >
                <a onclick="window.open('./classes-home.html','_self')" href="#">{{bc.title}}</a> > {{bc.subtitle}}
            </p>



            <!-- content -->
            <div class="classcontent" :class="[{content2only: checkCatRe() == 'T'}]">       
                <!-- img -->
                <div class="classcontentimg" :class="[{imgleftspace: checkCatRe() == 'G' || checkCatRe() == 'M'}]" id="class-contentimg">
                    <!-- T -->
                    <img v-if="checkCatRe() == 'T' " :src="imgSrc" alt="無法讀取照片"/>
                    <!-- GM -->
                    <img v-else v-for="(img,index) in imgSrc" :src="imgSrc[index]" alt="無法讀取照片"/>
                </div>
                <!-- word -->
                <!-- 組件一 -->
                <contentdetail-1  v-if="checkCatRe() == 'G' || checkCatRe() == 'M'" :check="checkCatRe()"  :class-title="classTitle" :classID="classID" :trainer="trainerName" :class-location="classLocation" :price="price" :nutrients="nutrients" :intro="intro" :img="imgSrc"></contentdetail-1>
                
                <!-- 組件二 -->
                <contentdetail-2  v-else :trainerID="trainerID" :trainer="trainerName" :en_trainer="en_trainerName" :expertise="trainerExpertise" :tclass="trainerclass" :license="trainerLicense" :img="imgSrc"></contentdetail-2>
                <!-- 組件二-教練介紹 -->
                <div v-if="checkCatRe() == 'T'" class="contentintro">
                    <!-- 標題 -->
                    <p class="title3">教練介紹</p>
                    <!-- 內文 -->
                    <p>
                        <span v-for="i in intro">{{i}}<br></span>
                        <a :href="ig" target="_blank">
                            <i class="fab fa-2x fa-instagram"></i>
                        </a>  
                    </p>
                </div>
               
            </div>
        </div>
   </main>

   
   <!--這是footer-->
   <footer id="footer">
      <my-footer></my-footer><!--這是目標標籤會被覆蓋-->
   </footer>

    <script type="module">
        // 正規表達式判斷
        var catRE_G = /^G/ ;
        var catRE_T = /^T/ ;
        var catRE_M = /^M/ ;

        // 匯入VUEX
        import {classes, coach} from "./store-classes.js";
        
        new Vue({
            el:'#classes-content',
            store:{classes,coach},

            data:{
                // 麵包屑判斷
                categories:[
                    {
                      title:"團練課程",
                      subtitle:"課程介紹",
                      show:"G",
                    },
                    {
                      title:"個人教練",
                      subtitle:"教練介紹",
                      show:"T",
                    },
                    {
                      title:"營養規劃",
                      subtitle:"菜單介紹",
                      show:"M",
                    },
                ],
                
                // 抓網址的classid
                classID:(new URL(location.href)).searchParams.get('classid'),
            
                // 教練
                trainerID:(new URL(location.href)).searchParams.get('classid'),
                // 發送用
                sendID: (new URL(location.href)).searchParams.get('classid'),

            },
      
            created() {
                if(catRE_T.test(this.sendID)){

                    this.$store.coach.commit('classesContentStart', this.sendID);
                }else{

                    this.$store.classes.commit('classesContentStart', this.sendID);
                }
            },
            
            methods:{
                // 判斷類別
                checkCatRe(){
                    if(catRE_G.test(this.classID)){
                        return "G";
                    }else if(catRE_T.test(this.classID)){
                        return "T";
                    }else if(catRE_M.test(this.classID)){
                        return "M";
                    }  
                },
            },

            computed:{

                // 共用
                trainerName(){
                    if(catRE_T.test(this.classID)){

                        return this.$store.coach.state.trainerName;
                    }else{
                        return this.$store.classes.state.trainerName;
                    }
                },

                intro(){

                    if(catRE_T.test(this.classID)){
                        return this.$store.coach.state.intro;
                    }else{
                        return this.$store.classes.state.intro;
                    }
                },

                imgSrc(){

                    if(catRE_T.test(this.classID)){
                        return this.$store.coach.state.imgSrc;
                    }else{
                        return this.$store.classes.state.imgSrc;
                    }
                },
                
                
                // GM
                classTitle(){
                    
                    return this.$store.classes.state.classTitle;
                },
                
                price(){
                    return this.$store.classes.state.price;            
                },

                classLocation(){
                    return this.$store.classes.state.classLocation;
                },
                
                nutrients(){
                    return this.$store.classes.state.nutrients;
                },

                // T

                en_trainerName(){
                    return this.$store.coach.state.en_trainerName;
                },

                trainerExpertise(){
                    return this.$store.coach.state.trainerExpertise;
                },

                trainerclass(){
                    return this.$store.coach.state.trainerclass;
                },

                trainerLicense(){
                    return this.$store.coach.state.trainerLicense;
                },

                ig(){
                    return this.$store.coach.state.ig;
                },

            }

        });
    </script>

</body>
</html>