<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>訓練課程-課程介紹 | Triclub</title> 
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>

    
</head>

<body>
    <!--這是header-->

   <header id="header" :class="{sticky:active}">
        <my-header></my-header><!--這是自定義標籤會被覆蓋-->
   </header>
  

   <!--內容所有都放在這div裡面-->
   <main class="classes-content" id="classes-content">
        <div>
            <!-- breadcrumb  -->
            <!-- <p class="small" v-if="checkCatReG()">團練課程 > 課程介紹</p>
            <p class="small" v-else-if="checkCatReT()">個人教練 > 教練介紹</p>
            <p class="small" v-else-if="checkCatReM()">營養規劃 > 菜單介紹</p> -->
            <p v-for="bc in categories" v-if=" checkCatRe() == bc.show" >{{bc.title}} > {{bc.subtitle}}</p>



            <!-- content -->
            <div class="content" :class="[{content2only: checkCatRe() == 'T'}]">       
                <!-- img -->
                <div class="classcontentimg" :class="[{imgleftspace: checkCatRe() == 'G' | checkCatRe() == 'M'}]" id="class-contentimg">
                    <img v-for="(img,index) in imgs" :src="imgs[index]" alt="無法讀取照片"/>
                </div>
                <!-- word -->
                <!-- 組件一 -->
                <contentdetail-1  v-if="checkCatRe() == 'G' || checkCatRe() == 'M'" :check="checkCatRe()"  :class-title="classTitle" :classID="classID" :trainer="trainer" :class-location="classLocation" :price="price" :nutrients="nutrients" :intro="intro" :img="imgs"></contentdetail-1>
                
                <!-- 組件二 -->
                <contentdetail-2  v-else :trainerID="trainerID" :trainer="trainer" :en_trainer="en_trainer" :expertise="trainerExpertise" :tclass="trainerclass" :license="trainerLicense" :img="imgs"></contentdetail-2>
                <!-- 組件二-教練介紹 -->
                <div v-if="checkCatRe() == 'T'" class="contentintro">
                    <!-- 標題 -->
                    <p class="title3">教練介紹</p>
                    <!-- 內文 -->
                    <p>
                        <span v-for="i in intro">{{i}}<br></span>
                        <a :href="IG" target="_blank">
                            <i class="fab fa-2x fa-instagram"></i>
                        </a>  
                    </p>
                </div>
               
            </div>
        </div>
   </main>

   
   <!--這是footer-->
   <footer id="footer">
      <my-footer></my-footer><!--這是目標標籤會被覆蓋-->
   </footer>


    <!--component-->
    <script src="./src/js/vue.js"></script>
    <script src="./src/component/common/header.js"></script>
    <script src="./src/component/common/footer.js"></script>
    <script src="./src/component/classes/classes-content.js"></script>
    <script>
        // 正規表達式判斷
        var catRE_G = /^G/ ;
        var catRE_T = /^T/ ;
        var catRE_M = /^M/ ;


        new Vue({
            el:'#classes-content',
            data:{
                // 麵包屑判斷
                categories:[
                    {
                      title:"團練課程",
                      subtitle:"課程介紹",
                      show:"G",
                    },
                    {
                      title:"個人教練",
                      subtitle:"教練介紹",
                      show:"T",
                    },
                    {
                      title:"營養規劃",
                      subtitle:"菜單介紹",
                      show:"M",
                    },
                ],
                
                // 抓網址的classid
                classID:(new URL(location.href)).searchParams.get('classid'),

                classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                trainer:"黃雨心",
                en_trainer:"Silvia",
                classLocation:"台北",
                price:"81000",

                // 教練
                trainerID:(new URL(location.href)).searchParams.get('classid'),
                trainerExpertise:[
                    '游泳四式調整',
                    '個人體能鍛鍊',
                    '體態雕塑',
                    '姿態評估',
                    '功能性訓練',
                    'TRX訓練'
                ],
                trainerclass:{
                    name:'游泳肌力訓練(初階)',
                    date:'12/01',
                    price:'3000',
                },
                
                trainerLicense:[
                    'PTA GLOBAL體適能教練證',
                    '中華民國健身C級指導員證',
                    '中華民國C級健美運動教練證',
                    '中華民國游泳協C級教練證',
                    '新北市水上安全救生協會C級游泳教練證',
                    '台灣國際身心障礙游泳協會C級游泳教練證',
                    '台灣國際身心障礙游泳協會C級游泳裁判證',
                    '中華民國水上救生協會救生員證',
                    '臺北市水上運動協會救生員證',
                    '中華民國紅十字心肺復甦術'
                ],
                IG:"https://www.peeta.tw/fitness",


                nutrients:{
                    cal:822,
                    protein:55.4,
                    carb:69.7,
                    fat:36.6,
                },
                intro:[
                    // 用，做分隔
                    '菜單材料：鮭魚片、蘆筍、洋蔥、蔾麥、雞蛋、藍莓、酪梨',
                    '烹調方式：烤、水煮',
                    '鮭魚+蘆筍+酪梨+藍莓!',
                    '這道料理的靈感源自於美國的healthy bowl',
                    '美國有很多販售健康碗的店家',
                    '這個組合絕對能令您感到新奇和印象深刻!',
                ],


                imgs:[
                    // 1
                    './src/images/img/classes/menu/menu01-d1.jpg',
                    // 2
                    // './src/images/img/classes/menu/menu01-d1.jpg',
                    // 3
                    // './src/images/img/classes/menu/menu01-d1.jpg',    
                ],

            },
            
            methods:{
                // 判斷類別
                checkCatRe(){
                    if(catRE_G.test(this.classID)){
                        return "G";
                    }else if(catRE_T.test(this.classID)){
                        return "T";
                    }else if(catRE_M.test(this.classID)){
                        // console.log(this.classID);
                        return "M";
                    }  
                },
            }



        });
    </script>

</body>
</html>