<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>訓練課程 | Triclub</title> 
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>

    
</head>

<body>
    <!--這是header-->

   <header id="header" :class="{sticky:active}">
        <my-header></my-header><!--這是自定義標籤會被覆蓋-->
   </header>
  

   <!--內容所有都放在這div裡面-->
   <main class="classes-home" id="classes-home">
        <div>
            <!-- bookmark -->
            <div class="bookmark-frontend" id="classes-bookmark">
                <button  v-for="(category,index) in categories" :key="category" class="bookmark-item classesonly" :class="[{active: currentcategory === index }]"  @click="currentcategory = index">{{category}}</button>
            </div>

            <!-- gird -->
            <div class="classesgrid" id="classes-grid">
                <triclasses  v-for="subdata in this[classdata[currentcategory]]" :img-src="subdata.imgSrc" :class-url="subdata.classUrl" :class-title="subdata.classTitle" :class-subtitle="subdata.classSubtitle" :class-id="subdata.classID"></triclasses>  
            </div>
        </div>
   </main>

   <!--這是footer-->
   <footer id="footer">
      <my-footer></my-footer><!--這是目標標籤會被覆蓋-->
   </footer>

   
    <!--component-->
    <script src="./src/js/vue.js"></script>
    <script src="./src/component/common/header.js"></script>
    <script src="./src/component/common/footer.js"></script>
    <script src="./src/component/common/grid-classes.js"></script>

    <script>
        new Vue({
            el:'#classes-home',
            data:{
                
                // 書籤組件data
                currentcategory: 0,
                categories: ["團練課程", "個人教練","營養規劃"],
                classdata: ["triclasses", "trainers","menus"],
                // en_categories: ["triclass-classes", "trainer-classes","menu-classes"],
                // list_data:[[],[],[]],
            
                
                // **課程組件data**
                // 訓練課程
                triclasses:[
                    // 1
                    {       
                        classID:'G12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/class/class01.jpg',
                        classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                        classSubtitle:"", 
                    },
                    // 2
                    {
                        classID:'G12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/class/class01.jpg',
                        classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                        classSubtitle:"", 
                    },
                    // 3
                    {
                        classID:'G12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/class/class01.jpg',
                        classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                        classSubtitle:"", 
                    },
                    // 4
                    {
                        classID:'G12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/class/class01.jpg',
                        classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                        classSubtitle:"", 
                    },
                    // 5
                    {
                        classID:'G12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/class/class01.jpg',
                        classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                        classSubtitle:"", 
                    },
                    // 6
                    {
                        classID:'G12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/class/class01.jpg',
                        classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                        classSubtitle:"", 
                    },
                    // 7
                    {
                        classID:'G12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/class/class01.jpg',
                        classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                        classSubtitle:"", 
                    },
                    // 8
                    {
                        classID:'G12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/class/class01.jpg',
                        classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                        classSubtitle:"", 
                    },
                    // 9
                    {
                        classID:'G12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/class/class01.jpg',
                        classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                        classSubtitle:"", 
                    },
                    
                ],
                
                
                // 個人教練
                trainers:[
                    // 1
                    {
                        classID:'T12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                        classTitle:"黃雨欣",
                        classSubtitle:"游泳四段調整" 
                    },
                    // 2
                    {
                        classID:'T12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                        classTitle:"黃雨欣",
                        classSubtitle:"游泳四段調整" 
                    },
                    // 3
                    {
                        classID:'T12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                        classTitle:"黃雨欣",
                        classSubtitle:"游泳四段調整" 
                    },
                    // 4
                    {
                        classID:'T12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                        classTitle:"黃雨欣",
                        classSubtitle:"游泳四段調整" 
                    },
                    // 5
                    {
                        classID:'T12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                        classTitle:"黃雨欣",
                        classSubtitle:"游泳四段調整" 
                    },
                    // 6
                    {
                        classID:'T12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                        classTitle:"黃雨欣",
                        classSubtitle:"游泳四段調整" 
                    },
                    // 7
                    {
                        classID:'T12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                        classTitle:"黃雨欣",
                        classSubtitle:"游泳四段調整" 
                    },
                    // 8
                    {
                        classID:'T12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                        classTitle:"黃雨欣",
                        classSubtitle:"游泳四段調整" 
                    },
                    // 9
                    {
                        classID:'T12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                        classTitle:"黃雨欣",
                        classSubtitle:"游泳四段調整" 
                    },
                ],       

                
                // 營養規劃 
                menus:[
                    // 1
                    {
                        classID:'M12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                        classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                        classSubtitle:"", 
                    },
                    // 2
                    {
                        classID:'M12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                        classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                        classSubtitle:"", 
                    },
                    // 3
                    {
                        classID:'M12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                        classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                        classSubtitle:"", 
                    },
                    // 4
                    {
                        classID:'M12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                        classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                        classSubtitle:"", 
                    },
                    // 5
                    {
                        classID:'M12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                        classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                        classSubtitle:"", 
                    },
                    // 6
                    {
                        classID:'M12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                        classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                        classSubtitle:"", 
                    },

                    // 7
                    {
                        classID:'M12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                        classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                        classSubtitle:"", 
                    },
                    // 8
                    {
                        classID:'M12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                        classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                        classSubtitle:"", 
                    },
                    // 9
                    {
                        classID:'M12345',
                        classUrl:'./classes-content.html',
                        imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                        classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                        classSubtitle:"", 
                    },

                ],
            },
            
            // computed:{
            //     currentCategoryComponent(){

            //         return this.en_categories[this.currentcategory];          
            //     },
            // },

        });

    </script> 


</body>
</html>