<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>訓練課程 | Triclub</title> 
    <!--font-awesome--> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!-- js -->
    <script src="./src/js/vue.js"></script>
    <script src="./src/js/vuex.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"></script>
    <!--component-->
     <script src="./src/component/common/header.js"></script>
     <script src="./src/component/common/footer.js"></script>
     <script src="./src/component/common/grid-classes.js"></script>

    
</head>

<body>
    <!--這是header-->

   <header id="header" :class="{sticky:active}">
        <my-header></my-header><!--這是自定義標籤會被覆蓋-->
   </header>
  

   <!--內容所有都放在這div裡面-->
   <main class="classes-home" id="classes-home">
        <div>
            <!-- bookmark -->
            <div class="bookmark-frontend" id="classes-bookmark">
                <button  v-for="(category,index) in categories" :key="category" class="bookmark-item classesonly" :class="[{active: currentcategory === index }]"  @click="currentcategory = index">{{category}}</button>
            </div>

            <!-- gird -->
            <div class="classesgrid" id="classes-grid">
                <triclasses  v-for="subdata in this[classdata[currentcategory]]" :img-src="subdata.imgSrc" :class-url="subdata.classUrl" :class-title="subdata.classTitle" :class-subtitle="subdata.classSubtitle" :class-id="subdata.classID" :currentpage="currentpage"></triclasses>  
            </div>
        </div>
   </main>

   <!--這是footer-->
   <footer id="footer">
      <my-footer></my-footer><!--這是目標標籤會被覆蓋-->
   </footer>

    <script type="module">
        // 匯入VUEX
        import {classes, coach} from "./store-classes.js";

        new Vue({
            el:'#classes-home',
            store:{classes,coach},
            
            data:{
                 //判斷前後台
                currentpage:0,  
                // 書籤組件data
                currentcategory: 0,
                categories: ["團練課程", "個人教練","營養規劃"],
                classdata: ["triclasses", "trainers","menus"],
               
            },

            created() {
                this.$store.classes.commit('classesHomeStart');
                this.$store.coach.commit('classesHomeStart', this.currentpage);

            },

            // 回傳vuex值
            computed:{
                // 訓練課程
                triclasses(){
                    return this.$store.classes.state.triclasses;
                },
                // 營養規劃 
                menus(){
                    return this.$store.classes.state.menus;
                },
                // 個人教練
                trainers(){
                    return this.$store.coach.state.trainers;
                },
            },

        });

    </script> 


</body>
</html>