<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>討論區 | Triclub</title> 
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>

<body>
    <!--這是header-->
    <header id="header" :class="{sticky: active}">
        <my-header></my-header><!--這是自定義標籤會被覆蓋-->
    </header>

    <!--內容所有都放在這div裡面-->
    <main class="main forum-home" id="forum-home">
        <div class="bookmark-frontend">
            <bookmark-forum v-for="(category, index) in categories" :key="index" :category="category" @click.native="changeCategory">
        </div>

        <div class="button-block-frontend">
            <button class="new-post" @click="openModal">發表文章</button>
        </div>

        <div class="article-list">
           
            <div class="article-item" v-for="articleDatum in tidedData" :data-id="articleDatum.ArticleNumber" @click.prevent="seeContent">
                <a class="enter-article" href="./forum-content.html">
                    <div class="left">
                        <div class="author">
                            <img class="avatar" :src=articleDatum.AuthorAvatar alt="">
                            <span class="name">{{articleDatum.AuthorName}}</span>
                            <span class="time">{{articleDatum.PostTime}}</span>
                        </div>
                        <h3 class="article-title">{{articleDatum.ArticleTitle}}</h3>
                        <p class="preview-content">{{articleDatum.ArticleContent}}</p>
                        <div class="counts">
                            <div class="views">
                                <img src="./src/images/img/forum/views.png" alt="">
                                <span>{{articleDatum.ViewsCount}}</span>
                            </div>
                            <div class="likes">
                                <img src="./src/images/img/forum/likes-count.png" alt="">
                                <span>{{articleDatum.LikesCount}}</span>
                            </div>
                            <div class="comments">
                                <img src="./src/images/img/forum/comments-count.png" alt="">
                                <span>{{articleDatum.CommentsCount}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <img class="demo-image" src="https://via.placeholder.com/167x167" alt="">
                    </div>
                </a>
            </div>

            <div class="pagination">
                <!--分頁器放置區-->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous" @click.prevent="minusOnePage">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    <li class="page-item" v-for="page in totalPage"><a class="page-link" @click.prevent="changePage" href="#">{{page}}</a></li>
                    
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next" @click.prevent="plusOnePage" >
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                        </a>
                    </li>
                    </ul>
                </nav>
            </div>
        </div>

        <forum-new-post-modal @closing="closeModal" v-show="showModal"></forum-new-post-modal>   <!-- @closing="closeModal"-->
    </main>
    
    <!--這是footer-->
    <footer id="footer">
        <my-footer></my-footer><!--這是目標標籤會被覆蓋-->
    </footer>

<!--header/footer component-->
<script src="./src/js/vue.js"></script>
<script src="./src/js/vuex.js"></script>
<script src="./src/component/common/header.js"></script>
<script src="./src/component/common/footer.js"></script>
<script src="./src/component/common/bookmark-forum.js"></script>
<script src="./src/component/common/forum-new-post-modal.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"></script>
<script src="./forum.js"></script> 
<script type="module">
    import forum from "./forum.js"
    new Vue({
        el: "#forum-home",
        store: forum,
        data: {
            categories: ["全部","閒聊","裝備","心得","問題"],
            showModal: false,
            articleData: [],   //放撈回來的資料
            categorizedData: [], //放當前類別的所有資料
            tidedData: [],  //放螢幕所顯示的項目
            currentPage: 1,     //現在的頁碼
            itemsPerPage: 2,  //每頁幾個項目
            startIndex: "",    //起始項目index，供分頁器使用
            totalPage: "",    //總頁面數
            dummyData: [   //假資料
                {
                    "ArticleNumber": "123",
                    "AuthorName": "Maggie Wang1",
                    "AuthorAvatar": "./src/images/img/forum/smile.jpg",
                    "PostTime": "2021/09/21",
                    "ArticleTitle": "問題跑鞋標題",
                    "ArticleCategory": "問題",
                    "ArticleContent": "問題跑鞋內容",
                    "ViewsCount": "100",
                    "LikesCount": "100",
                    "CommentsCount": "100"
                },
                {
                    "ArticleNumber": "2",
                    "AuthorName": "Johnny Hsieh2",
                    "AuthorAvatar": "https://scontent.ftpe8-3.fna.fbcdn.net/v/t1.6435-9/122891827_3775399562473211_2678647114024992983_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=0Yscly8Bi6IAX_M7KPw&_nc_ht=scontent.ftpe8-3.fna&oh=14610ff24a6fa819b877c8142e2eea01&oe=61A500A6",
                    "PostTime": "2021/09/21",
                    "ArticleTitle": "閒聊跑鞋標題",
                    "ArticleCategory": "閒聊",
                    "ArticleContent": "閒聊跑鞋內容",
                    "ViewsCount": "200",
                    "LikesCount": "200",
                    "CommentsCount": "200"
                },
                {
                    "ArticleNumber": "3",
                    "AuthorName": "Johnny Hsieh3",
                    "AuthorAvatar": "https://scontent.ftpe8-3.fna.fbcdn.net/v/t1.6435-9/122891827_3775399562473211_2678647114024992983_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=0Yscly8Bi6IAX_M7KPw&_nc_ht=scontent.ftpe8-3.fna&oh=14610ff24a6fa819b877c8142e2eea01&oe=61A500A6",
                    "PostTime": "2021/09/21",
                    "ArticleTitle": "裝備跑鞋標題",
                    "ArticleCategory": "裝備",
                    "ArticleContent": "裝備跑鞋內容",
                    "ViewsCount": "300",
                    "LikesCount": "300",
                    "CommentsCount": "300"
                },
                {
                    "ArticleNumber": "4",
                    "AuthorName": "Johnny Hsieh4",
                    "AuthorAvatar": "https://scontent.ftpe8-3.fna.fbcdn.net/v/t1.6435-9/122891827_3775399562473211_2678647114024992983_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=0Yscly8Bi6IAX_M7KPw&_nc_ht=scontent.ftpe8-3.fna&oh=14610ff24a6fa819b877c8142e2eea01&oe=61A500A6",
                    "PostTime": "2021/09/21",
                    "ArticleTitle": "心得跑鞋標題",
                    "ArticleCategory": "心得",
                    "ArticleContent": "心得跑鞋內容",
                    "ViewsCount": "400",
                    "LikesCount": "400",
                    "CommentsCount": "400"
                },
                {
                    "ArticleNumber": "5",
                    "AuthorName": "Johnny Hsieh5",
                    "AuthorAvatar": "https://scontent.ftpe8-3.fna.fbcdn.net/v/t1.6435-9/122891827_3775399562473211_2678647114024992983_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=0Yscly8Bi6IAX_M7KPw&_nc_ht=scontent.ftpe8-3.fna&oh=14610ff24a6fa819b877c8142e2eea01&oe=61A500A6",
                    "PostTime": "2021/09/21",
                    "ArticleTitle": "心得跑鞋標題",
                    "ArticleCategory": "心得",
                    "ArticleContent": "心得跑鞋內容",
                    "ViewsCount": "500",
                    "LikesCount": "500",
                    "CommentsCount": "500"
                },
                {
                    "ArticleNumber": "6",
                    "AuthorName": "Johnny Walker6",
                    "AuthorAvatar": "https://scontent.ftpe8-3.fna.fbcdn.net/v/t1.6435-9/122891827_3775399562473211_2678647114024992983_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=0Yscly8Bi6IAX_M7KPw&_nc_ht=scontent.ftpe8-3.fna&oh=14610ff24a6fa819b877c8142e2eea01&oe=61A500A6",
                    "PostTime": "2021/09/21",
                    "ArticleTitle": "心得跑鞋標題",
                    "ArticleCategory": "心得",
                    "ArticleContent": "心得跑鞋內容",
                    "ViewsCount": "600",
                    "LikesCount": "600",
                    "CommentsCount": "600"
                },
            ]
        },
        methods: {
            openModal(){
                this.showModal = true;
            },
            closeModal(){        
                this.showModal = false;
            },
            changePage(e) {
                this.currentPage = parseInt(e.target.innerText);
            },
            minusOnePage() {  //分頁器
                if(this.currentPage > 1) {
                    this.currentPage = this.currentPage - 1;  
                }
            },
            plusOnePage() {  //分頁器
                if(this.currentPage < this.totalPage) {
                    this.currentPage += 1;
                }
            },
            changeCategory(e) {     //頁籤
                // this.tidedData = this.articleData; 
                // this.totalPage = Math.ceil(this.tidedData.length / this.itemsPerPage);
                if(e.target.innerText === "全部") {
                    this.categorizedData = this.articleData;
                    this.tidedData = this.categorizedData.slice(this.startIndex, this.startIndex + this.itemsPerPage);
                    this.totalPage = Math.ceil(this.categorizedData.length / this.itemsPerPage);
                    this.currentPage = 1;         
                } else {                   
                    console.log(this.startIndex);
                    this.categorizedData = this.articleData.filter(sorted => sorted.ArticleCategory.toString() === e.target.innerText.toString());
                    this.tidedData = this.categorizedData.slice(this.startIndex, this.startIndex + this.itemsPerPage); 
                    // console.log("this.categorizedData", this.categorizedData);
                    this.totalPage = Math.ceil(this.categorizedData.length / this.itemsPerPage);
                    this.currentPage = 1;
                }
            },
            seeContent(e) {           
                let clickTarget = e.target.closest("div.article-item");
                // this.$store.commit("getPostId", clickTarget.dataset.id);
                console.log(clickTarget);
                window.location.href=`./forum-content.html#${clickTarget.dataset.id}`;
            }
            
        },
        computed: {},
        watch: {
            currentPage(newValue, oldValue) {   //分頁器偵測所處頁面  
                this.startIndex = (this.currentPage - 1) * this.itemsPerPage;
                this.tidedData = this.categorizedData.slice(this.startIndex, this.startIndex + this.itemsPerPage);
                
                document.querySelectorAll("a.page-link").forEach((text, index) => {
                    if(parseInt(text.innerText) === parseInt(newValue)) {
                        text.style.backgroundColor = "lightgray";
                    } else {
                        text.style.backgroundColor = "";
                    }
                });
            },             
        },
        created() {
            //取得資料
            this.articleData = this.dummyData;

            //存放分類為"全部"的資料 (預設)
            this.categorizedData = this.articleData;
            
            //計算總頁數
            this.totalPage = Math.ceil(this.categorizedData.length / this.itemsPerPage);   
            
            //計算起始index number 
            this.startIndex = (this.currentPage - 1) * this.itemsPerPage;

            //資料暫存區 - 指畫面有顯示的項目
            this.tidedData = this.categorizedData.slice(this.startIndex, this.startIndex + this.itemsPerPage); 
        },
        mounted() {
            axios
                .get('./php/select-forum.php')
                .then(res => console.log(res.data))
                .catch(function(error){console.log(error)});
        }
    })
</script>

</body>
</html>