<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>討論區 | Triclub</title> 
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

     <!--axios-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"></script>
     <!--vuex-->
     <script src="./src/js/vue.js"></script>
     <script src="./src/js/vuex.js"></script>
    
</head>

<body>
    <!--這是header-->
    <header id="header" :class="{sticky: active}">
        <my-header></my-header><!--這是自定義標籤會被覆蓋-->
    </header>


    <!--內容所有都放在這div裡面-->
    
    <main class="forum-content main" id="forum-content">
        <!-- <div class="bookmark-frontend">
            <bookmark-forum v-for="(category, index) in categories" :key="index" :category="category">
        </div> -->
        
        <div class="back">
            <!-- 回上一頁按鈕放置處 -->
            <div class="button-block-frontend back-post">
                <a href="./forum-home.html">
                    <div class="previouspage change-display">
                        <div class="arrow"></div>
                    </div>
                </a>

                <!-- <button class="new-post" @click="openModal">發表文章</button> -->
            </div>
        </div>

        <div class="page-container-single-article">
            <div class="single-article">
                <div class="head">
                    <div class="author">
                        <!-- <img class="avatar" :src="singleArticleData.UserPhoto" alt=""> -->
                        <span class="name">{{singleArticleData.UserName}}</span>
                        <span class="time">{{singleArticleData.PostDate}}</span>
                    </div>
                    <div class="action">
                        <!-- <div class="like">
                            <img class="heart" v-show="likeSwitch" src="./src/images/img/forum/heart-size-3.png" alt="">
                            <img class="heart heart-red" v-show="likeSwitchForRed" src="./src/images/img/forum/heart-red.png" alt="">
                        </div> -->
                        <div class="report">
                            <img src="./src/images/img/forum/report-button.png" @click="dropDownSwitch">
                            <div class="drop-down" v-if="showReport">
                                <!-- :class="{ reportShowing: reportShowing }" -->
                                <span @click="report" v-if="notMine">檢舉</span>
                                <span @click="openEditModal" v-if="isMine">編輯</span>
                                <span @click="deletePost" v-if="isMine">刪除</span>
                            </div>  
                        </div>
                        
                    </div>
                </div>
                <div class="middle">
                    <h3 class="title">{{singleArticleData.PostTitle}}</h3>
                    
                    <div class="forum-content-block">
                        <p class="forum-content">{{singleArticleData.PostContent}}</p>
                        
                    </div>
                </div>
            
            </div>

            <div class="new-comment">
                <!-- <img class="avatar avatar-new-comment" src="./src/images/img/forum/smile.jpg" alt=""> -->
                <textarea class="input-comment" placeholder="留言..." name="commentContent" id="" v-model="commentContent"></textarea>
                <div class="button-block-frontend">
                    <button type="submit" class="submit-comment small-blue" @click="sendComment">留言</button>
                </div>
            </div>

            <hr>


            <!-- v-for="comment in commentData" :data-id="comment.CommentId" -->
            <div class="comments">
                <div class="single-comment" v-for="commentDatum in commentData" :data-id="commentDatum.CommentID">
                    <div class="comment-author">
                        <img class="avatar avatar-comment" src="./src/images/img/forum/smile.jpg" alt="">
                        <span class="name">{{commentDatum.UserName}}</span>
                        <span class="time">{{commentDatum.CommentPostDate}}</span>
                    </div>
                    <p class="comment-content">{{commentDatum.CommentContent}}</p>
                    <!-- <div class="report">
                        <img src="./src/images/img/forum/report-button.png">
                        <div class="drop-down-comment">
                            <span>檢舉</span>
                        </div>  
                    </div> -->
                </div>
            </div>
        </div>
        
        <report :num="dataNumber" @cancel-report="closeReportModal" v-if="showReportModal"></report>
        
        <!-- 點擊編輯文章後彈出 -->
        <div id="forum-edit-post-modal" class="darken-background" v-if="showEditModal">
            <!-- :class="{ isShowing: isShowing }"   -->
            <div class="new-article edit-article">

                    <span class="info">編輯文章</span>

                    <div class="cross">
                        <i @click="closeEditModal" class="fas fa-times fa-2x"></i>
                    </div>
                    
                    <input type="text" class="title forum-title" placeholder="請輸入文章標題" name="title" v-model="forumTitle" required>

                    <select class="category" name="category" id="" v-model="category" required>
                        <option value="閒聊">閒聊</option>
                        <option value="裝備">裝備</option>
                        <option value="心得">心得</option>
                        <option value="問題">問題</option>
                    </select>

                    <textarea class="new-article-content" name="content" id="" cols="30" rows="10" v-model="articleContent" required></textarea>

                    <button class="send-forum-content" @click.prevent="sendEdit">送出</button>   <!-- @click="send"--->
            </div>
        </div>
        <!-- 以上為編輯文章 -->

    </main>
    
    <!--這是footer-->
    <footer id="footer">
        <my-footer></my-footer> <!--這是目標標籤會被覆蓋-->
    </footer>


<!--header/footer component-->
<script src="./src/component/common/header.js"></script>
<script src="./src/component/common/footer.js"></script>
<script src="./src/component/common/bookmark-forum.js"></script>
<!-- <script src="./src/component/common/forum-new-post-modal.js"></script> -->
<script src="./src/component/common/report.js"></script>
<script src="./forum.js"></script> 

<script type="module">
    import forum from "./forum.js"
    new Vue({
        el: "#forum-content",
        store: forum,
        data: {
            // reportShowing: false,
            // isShowing: false,
            categories: ["全部","閒聊","裝備","心得","問題"],
            showEditModal: false,
            likeSwitch: true,
            likeSwitchForRed: false,
            showReport: false,
            showReportModal: false,
            dataNumber: "",
            ArticleData: [],
            singleArticleData: [],
            commentData: [],

            forumTitle: "",
            category:"",
            articleContent:"",

            commentContent: "",

            // likeString: "",
            likeArray: [],
            notMine: false,
            isMine: false
        },
        methods: {
            openEditModal(){               
                // this.isShowing = true;
                this.showEditModal = true;
                this.forumTitle = this.singleArticleData.PostTitle;
                this.category = this.singleArticleData.PostCategory;
                this.articleContent = this.singleArticleData.PostContent;
            },
            closeEditModal(){         
                this.showEditModal = false;
                // this.isShowing = false;
            },
            
            dropDownSwitch() {
               
                axios({
                    method: "post",
                    url: "./php/loginCheck.php",
                    data: {// postid: thePostId
                    }
                })
                .then((res) => {
                    console.log("這是我的文嗎", res.data);
                    console.log("userID??", this.singleArticleData.UserID);
                    
                    if(this.singleArticleData.UserID.toString() === res.data.toString()) {
                        //顯示編輯、刪除
                        console.log("???", parseInt(this.singleArticleData.UserID));
                        this.isMine = true;
                        this.notMine = false;
                    } else {
                        //只顯示檢舉
                        this.isMine = false;
                        this.notMine = true;
                    }
                })
                .catch((error) => console.log(error))
                this.showReport = !this.showReport;
                console.log(this.showReport);
                
            },
            report() {

                axios({
                    method: "post",
                    url: "./php/loginCheck.php",
                    data: {// postid: thePostId
                    }
                })
                .then((res) => {
                    console.log("這是我的文嗎", res.data);
                    console.log("userID??", this.singleArticleData.UserID);
                    
                    if(res.data != "") {
                        this.showReportModal = true;
                    } else {
                        alert("請先登入")
                    }
                })
                .catch((error) => console.log(error))
                
            },
            closeReportModal() {
                // this.reportShowing = false;
                this.showReportModal = false;
            },
            deletePost(){
                let postId = parseInt(this.singleArticleData.PostID);
                
                axios({
                method: "post",
                url: "./php/delete-forum.php",
                headers: { 'content-type': 'application/form-data' },
                data: {                       
                    postid: postId
                }
                })
                .then((res) => {
                    console.log(res)
                    document.location.href = "./forum-home.html"
                })
                .catch((error) => console.log(error))
            },
            sendEdit() {
                let postId = parseInt(this.singleArticleData.PostID);
                axios({
                    method: 'post',
                    url: './php/edit-forum.php',
                    //API要求的資料
                    data: {    
                        postid: postId,                     
                        title: this.forumTitle,
                        category: this.category,
                        content: this.articleContent
                    }
                })
                .then((res) => {
                    console.log(res)
                    location.reload();
                })
                .catch((error) => console.log(error))
            },
            sendComment(){  
                let postId = parseInt(this.singleArticleData.PostID);
                document.querySelector(".submit-comment").disabled = true;
                axios({
                    method: 'post',
                    url: './php/new-comment.php',
                    //API要求的資料
                    data: {    
                        postid: postId,                     
                        commentContent: this.commentContent,
                        userid : parseInt(this.singleArticleData.UserID)
                    }
                })
                .then((res) => {
                    console.log(res.data)
                    location.reload();
                })
                .catch((error) => console.log(error))
            }   
        },
        mounted() {  
            
            //從網址處拿到號碼，並將#號去掉
            let numberArray = location.hash.split("");
            numberArray.shift();
            for(let i = 0; i < numberArray.length; i++) {
                numberArray[i];
                this.dataNumber += numberArray[i]
            };
            
            //用文編號找到指定的文章
            axios.get('./php/select-forum.php')
            .then((res) => {
                this.articleData = res.data;
                
                //用號碼來找到相對應的資料
                for(let i = 0; i < this.articleData.length; i++) {
                    if(this.articleData[i].PostID.toString() === this.dataNumber.toString()) {
                        this.singleArticleData = this.articleData[i]; 
                        // console.log(this.singleArticleData);

                        // console.log(this.singleArticleData[0]);
                    }
                }
            })
            .catch((error) => console.log(error));

            
            //找到本篇文章下的所有留言
            let thePostId = parseInt(this.dataNumber);

            axios({
                method: "post",
                url: "./php/select-comment.php",
                data: {
                    postid: thePostId
                },
            })
            .then((res) => {
                this.commentData = res.data;
            })
            .catch((error) => console.log(error));
        },
    })
</script>

</body>
</html>