<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>首頁|Triclub</title> 
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <script src="./src/component/plan/plan.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="./css/animate.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

    <!--這是header-->
    <header id="header" :class="{sticky: active}" >
      <my-header></my-header><!--這是自定義標籤會被覆蓋-->
    </header>
  

   <!-- 影片 -->
   <section class="video__container">

      <video src="https://www.dropbox.com/s/qvmbohq4swv7w93/pexels-pavel-danilyuk-5790072.mp4?raw=1" autoplay loop playsinline muted></video>
      <div class="viedo-textoverlay">
         <div class="video-quote">swim cycle run<br>tri it on</div>
         <!-- button -->
         <a href="./plan-temporary.html" style="text-decoration:none;">
            <div class="index-button">
               <button class="btn-hover color">計劃我的第一場三鐵比賽</button>
            </div>
         </a>
      </div>

   </section>



   <!-- 如何為人生第一場三鐵安排訓練？ -->
   <section class="slider__wrapper">

      <div class="flex__container flex--one flex--active" data-slide="1">
         <div class="flex__content">
            <p class="text--sub">How to train for your first triathlon</p>
            <h1 class="text--big">如何為人生第一場<br>三鐵安排訓練？</h1>
            <p class="text--normal">準備首次的鐵人三項競賽就像開始建造自己的房子一樣，<br>需要安排籌畫、勇氣與非常嚴謹的態度！<br>但是要如何協調三種運動的訓練呢？如何自我安排？<br>依照我們的建議來做吧！</p>
         </div>
         <div class="flex__item flex__item--left">
            <p class="text__background"> </p>
         </div>
         <div class="flex__item--right">
            <img style="width:100%;" src="./src/images/icons/slider-bg1.svg">
         </div>
         <img class="slider__img" src="./src/images/img/index/swimming.png" />
      </div>

      <div class="flex__container flex--two animate--start" data-slide="2">
         <div class="flex__content">
            <p class="text--sub">Don't worry too much when you're new to triathlon</p>
            <h1 class="text--big">開始鐵人三項，<br>你不用擔憂太多</h1>
            <p class="text--normal">在參賽以前，很多人總覺得鐵人三項很難！<br>但在瞭解分別的項目後發現其實好像並沒有那麼難，<br>可以先從半鐵的距離嘗試，也可以用接力的方式體驗三鐵！</p>
         </div>
         <div class="flex__item flex__item--left">
            <p class="text__background"> </p>
         </div>
         <div class="flex__item flex__item--right">
            <img style="width:100%;" src="./src/images/icons/slider-bg2.svg">
         </div>
         <img class="slider__img" style="right: 60px;" src="./src/images/img/index/cycling.png" />
      </div>

      <div class="flex__container flex--three animate--start" data-slide="3">
         <div class="flex__content">
            <p class="text--sub">Join TriClub!<br>It's time to tri</p>
            <h1 class="text--big">跟著TriClub加入<br>鐵人的行列吧</h1>
            <p class="text--normal">參與鐵人賽的樂趣之一，<br>就是在賽事現場中有和你一同挑戰的夥伴，<br>每每看到夥伴經過，無不大聲歡呼鼓勵、擊掌打氣！<br>這才是參加鐵人賽最棒的地方！</p>
         </div>
         <div class="flex__item flex__item--left">
            <p class="text__background"> </p>
         </div>
         <div class="flex__item flex__item--right">
            <img style="width:60%; float:right; margin-top: 50px;" src="./src/images/icons/slider-bg3.svg">       
         </div>
         <img class="slider__img" style="right: 80px;" src="./src/images/img/index/runningwoman.png" />
      </div>

      <div class="slider__navi">
         <a href="#" class="slide-nav active" data-slide="1">one</a>
         <a href="#" class="slide-nav" data-slide="2">two</a>
         <a href="#" class="slide-nav" data-slide="3">three</a>
      </div>

   </section>
       

   
   <!-- 讓TriClub 帶你更專業 -->
   <section class="pro__training">

      <div class="pro__training__title">
         <p class="text--sub">Pro Triathlon Training</p>
         <h1 class="text--big">讓TriClub帶你更專業</h1>
         <h2 class="text--small">成為更強的鐵人 從現在開始</h2>
         <p class="text--normal">從新手到菁英、從游泳到功率，Triclub打造專業鐵人基地，提供專屬您的客製訓練計畫！<br>跟著Triclub的腳步，解決你的鐵人三項訓練困境。想變強？跟著我們就對了！</p>
      </div>

      <div>
         <img class="pro__training-bg" src="./src/images/icons/protraining-bg.svg">
      </div>


      <!-- 三張照片 -->
      <div class="sport-container-one" style="height: 340px; width: 85%; background-color: #E75F49;">
      
         <div class="sports">

            <div class="item">
              <div class="pic-container">
                <img class="pic1" src="./src/images/img/index/bike_255x255.jpg">
                <img class="pic2" src="./src/images/img/index/run_255x255.jpg">
              </div>
              <h2 style="color: #fff;">SWIM strong</h2>
            </div>

            <div class="item">
              <div class="pic-container">
               <img class="pic1" src="./src/images/img/index/bike_255x255.jpg">
               <img class="pic2" src="./src/images/img/index/run_255x255.jpg">
              </div>
              <h2 style="color: #fff;">CYCLE fast</h2>
            </div>
            
            <div class="item">
              <div class="pic-container">
               <img class="pic1" src="./src/images/img/index/bike_255x255.jpg">
               <img class="pic2" src="./src/images/img/index/run_255x255.jpg">
              </div>
              <h2 style="color: #fff;">RUN to win</h2>
            </div>

         </div>

      </div>

      <!-- 三張照片 RWD -->
      <div class="sport-container-two">

         <div class="course__container">
            <div id="course__item_1">
               <p class="course__title">Group Training<br>團體課程</p>               
            </div>
            <div id="course__item_2"></div>
         </div>
      
         <div class="course__container">
            <div id="course__item_3">
               <p class="course__title">Personal Coach<br>個人教練</p>              
            </div>
            <div id="course__item_4"></div>
         </div>
       
         <div class="course__container">
            <div id="course__item_5">
               <p class="course__title">Fitness & Diet<br>營養規劃</p>              
            </div>
            <div id="course__item_6"></div>
         </div>
      
      </div>


      <div class="banner">
         <div class="marquee-container">
           <marquee onmouseover="this.stop()" onmouseout="this.start()" behavior="scroll" direction="left" scrollamount="20" loop="infinite">
            Success in the sport is, above all else, about enduring suffering.　<span>&#9648&#9648&#9648;</span>
            　Triathletes plan well, train well, and expect the unexpected.　<span>&#9648&#9648&#9648;</span>
            　When the going gets tough, the tough tri harder.　<span>&#9648&#9648&#9648;</span>
            　Be strong, you never know who you are inspiring.
           </marquee>
         </div>
      </div>
   

   </section>





   <!-- 開始製作我的個人計畫 -->
   <section class="training__plan">
      
      <div class="training__plan__svg">
         <img style="width:100%; " src="./src/images/icons/trainingplan-bg.svg">
      </div>

      <div class="training__plan__title" style="color: #fff; width: 570px;">
         <p class="text--sub">Design Your Own Triathlon Training Plan</p>
         <h1 class="text--big">開始製作我的<br>個人計畫</h1>
         <p class="text--normal">準備首次的鐵人三項就像建造房子，需要籌備計畫、勇氣與非常嚴謹的態度！<br>但是要如何協調三種運動的訓練呢？依照我們的建議來做吧！</p>
                   <!-- button -->
                   <a href="./plan-temporary.html" style="text-decoration:none;">
                     <div class="index-button">
                        <button class="btn-hover color">計劃我的第一場三鐵比賽</button>
                    </div>
                   </a>
      </div>

      <div>
         <img class="training__plan__photo" src="./src/images/img/index/index_bike_yellowoutline.png">
      </div>


      <!-- 這裡是放計畫表的黃色塊 -->
      <div class="training__plan__container" style="background-color: #FFEF36; width: 80%;">
         <!--暫時放png之後改成gif操作影片 RWD就讓父元素container變化-->
         <video src="https://www.dropbox.com/s/k5rryvtb1tjytgy/Triclub.mp4?raw=1" autoplay loop playsinline muted></video>
      </div>

   </section>
   
   


   
   <!-- TriClub會員專屬回饋 -->
   <section class="member__FAQ">

      <div class="member__title">
         <p class="text--sub">Join Us Now</p>
         <h1 class="text--big">Triclub會員專屬</h1>
         <p class="text--normal">準備首次的鐵人三項競賽就像開始建造自己的房子一樣，<br>需要安排籌畫、勇氣與非常嚴謹的態度！<br>但是要如何協調三種運動的訓練呢？如何自我安排？<br>依照我們的建議來做吧！</p>
      </div>

      <div>
         <img class="member__photo" src="./src/images/img/index/index_run_yellowoutline.png">
      </div>
   

      <!-- 會員權益表    -->
      <table class="member-table">
         <thead>
            <tr>
               <th>網站功能</th>
               <th>訪客</th>
               <th>會員</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td class="web function">找到最新賽事資訊</td>
               <td class="guest">✓</td>
               <td class="member">✓</td>
            </tr>
            <tr>
               <td class="web function">瀏覽討論區文章</td>
               <td class="guest">✓</td>
               <td class="member">✓</td>
            </tr>
            <tr>
               <td class="web function">製作個人訓練計畫</td>
               <td class="guest">–</td>
               <td class="member">✓</td>
            </tr>
            <tr>
               <td class="web function">參加訓練課程</td>
               <td class="guest">–</td>
               <td class="member">✓</td>
            </tr>
            <tr>
               <td class="web function">累積點數&消費折抵</td>
               <td class="guest">–</td>
               <td class="member">✓</td>
            </tr>
         </tbody>
      </table>   


      <!-- 網站FAQ -->
      <div class="FAQ__container">
         
         <h1>Triclub FAQs</h1>
         
         <div class="faq-drawer">
            <input class="faq-drawer__trigger" id="faq-drawer" type="checkbox"/><label class="faq-drawer__title" for="faq-drawer">Q1 會員等級是否可轉讓予他人使用？</label>
            <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
               <p>
                  Triclub提供之會員服務與其他一切因會員身分得享有之權益，均仍屬Triclub或其他合法權利人所有，會員除僅得於服務施行期間依本活動條款之約定為使用外，均不得以任何方式將其轉讓、移轉、出租或出借予其他任何第三人，會員就會員服務所為之任何轉讓、移轉、出租或出借予其他任何第三人之行為，對Triclub不生效力。 
               </p>
            </div>
            </div>
         </div>

         <div class="faq-drawer">
            <input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox"/><label class="faq-drawer__title" for="faq-drawer-2">FAQ 2</label>
            <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
               </p>
            </div>
            </div>
         </div>

         <div class="faq-drawer">
            <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox"/><label class="faq-drawer__title" for="faq-drawer-3">FAQ 3</label>
            <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.            
               </p>
            </div>
            </div>
         </div>

         <div class="faq-drawer">
            <input class="faq-drawer__trigger" id="faq-drawer-4" type="checkbox"/><label class="faq-drawer__title" for="faq-drawer-4">FAQ 4</label>
            <div class="faq-drawer__content-wrapper">
            <div class="faq-drawer__content">
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.            
               </p>
            </div>
            </div>
         </div>
         
      </div>

   </section>





   <!-- 三鐵賽事訓練班 -->
   <section class="training__course">

      <div class="training__course__title">
         <p class="text--sub">Planning to attend a training course?</p>
         <h1 class="text--big">三鐵賽事訓練班</h1>
         <h2 class="text--small"></h2>
         <p class="text--normal">從新手到菁英、從游泳到功率，Triclub打造專業鐵人基地，提供專屬您的客製訓練計畫！跟著Triclub的腳步，解決你的鐵人三項訓練困境。想變強？跟著我們就對了！</p>
      </div>


      <div class="course__flex-container">

         <div class="course__container">
            <div id="course__item_1">
               <p class="course__title">Group Training<br>團體課程</p>
               <div class="course__button"><a href="./classes-home.html" style="text-decoration:none;"> 立即報名 </a></div>
               <div class="overlay"></div>
            </div>
            <div id="course__item_2"></div>
         </div>
      
         <div class="course__container">
            <div id="course__item_3">
               <p class="course__title">Personal Coach<br>個人教練</p>
               <div class="course__button"><a href="./classes-home.html" style="text-decoration:none;"> 立即報名 </a></div>
               <div class="overlay"></div>
            </div>
            <div id="course__item_4"></div>
         </div>
       
         <div class="course__container">
            <div id="course__item_5">
               <p class="course__title">Fitness & Diet<br>營養規劃</p>
               <div class="course__button"><a href="./classes-home.html" style="text-decoration:none;"> 立即報名 </a></div>
               <div class="overlay"></div>
            </div>
            <div id="course__item_6"></div>
         </div>
      
      </div>

      
      <div class="training__course__svg">
         <img style="width: 100%;" src="./src/images/icons/trainingcourse-bg.svg">
      </div>

   </section>



   <!-- 鐵人三項賽事時間表 -->

   <section class="triathlon__events">

      <div class="events__title">
         <p class="text--sub">Triathlon Events & Races</p>
         <h1 class="text--big">鐵人三項賽事時間表</h1>
         <p class="text--normal">從新手到菁英、從游泳到功率，Triclub打造專業鐵人基地，提供專屬您的客製訓練計畫！跟著Triclub的腳步，解決你的鐵人三項訓練困境。想變強？跟著我們就對了！</p>
      </div>

      <!--近期賽事-->
      <main class="race_list_wrapper">
            <div id="race_list">
               <!-- <nav>這裡是頁籤</nav> -->
               <main class="race_wrapper"> 
                     <div class="race_title">
                        <p>日期</p>
                        <p>地點</p>
                        <p>賽事</p>
                        <p>項目</p>
                        <p>活動狀態</p>
                     </div>
                     <template v-for="game in tidedData">
                        <div class="raceinfo"> 
                           <a class="artical" href="./race-content.html">{{game.RaceDate}}</a>
                           <a class="artical" href="./race-content.html">{{game.RaceLocation}}</a> 
                           <a class="artical" href="./race-content.html">{{game.title}}</a>
                           <div class="distences">
                                 <a   v-for="distence in game.distences" v-show="distence.event != false" :style="{backgroundColor:distence.color}" class="artical race_distence" href="./race-content.html">{{distence.dis}}</a>  
                           </div>
                           <a class="artical" href="./race-content.html">{{game.state}}截止</a>
                        </div>
                     </template>
               </main>
               
                     <div class="pagination">
                        <!--分頁器-->
                        <nav aria-label="Page navigation example">
                           <ul class="pagination">
                                 <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous" @click.prevent="minusOnePage">
                                       <span aria-hidden="true">&laquo;</span>
                                       <span class="sr-only">Previous</span>
                                    </a>
                                 </li>

                                 <li class="page-item" v-for="page in totalPage"><a class="page-link" @click.prevent="changeRacePage" href="#">{{page}}</a></li>
                                 
                                 <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next" @click.prevent="plusOnePage" >
                                       <span aria-hidden="true">&raquo;</span>
                                       <span class="sr-only">Next</span>
                                    </a>
                                 </li>
                           </ul>
                        </nav>
                     </div>
               
            </div>
      </main>
   </section>

   
   
   <!--這是footer-->
   <footer id="footer">
      <my-footer></my-footer><!--這是目標標籤會被覆蓋-->
   </footer>



   <!--header/footer component-->
   <script src="./src/js/vue.js"></script>
   <script src="./src/component/common/header.js"></script>
   <script src="./src/component/common/footer.js"></script>
   <script src="./src/component/race/race.js"></script>
   <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


   <!-- slider -->
   <script>
      $('.slide-nav').on('click', function(e) {
      e.preventDefault();
      // get current slide
      var current = $('.flex--active').data('slide'),
      // get button data-slide
      next = $(this).data('slide');

      $('.slide-nav').removeClass('active');
      $(this).addClass('active');

      if (current === next) {
      return false;
      } else {
      $('.slider__wrapper').find('.flex__container[data-slide=' + next + ']').addClass('flex--preStart');
      $('.flex--active').addClass('animate--end');
      setTimeout(function() {
            $('.flex--preStart').removeClass('animate--start flex--preStart').addClass('flex--active');
            $('.animate--end').addClass('animate--start').removeClass('animate--end flex--active');
      }, 800);
      }
      });
   </script>

   <script>
      AOS.init();
   </script>

   


</body>
</html>