<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 此為後台頁面樣板 -->
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>課程管理 | Triclub</title> 
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <!--這是header-->
    <header id="manage-header">
        <manage-header></manage-header><!--這是自定義標籤會被覆蓋-->
    </header>
  

   <!--內容所有都放在此，manage-main為引入通用的scss之用。-->
    <!-- 進行切版時再自行加上各自頁面專屬的class名稱，-->
    <main class="manage-main manage-classes-home" id="classes-home">
        <h1 class="manage-title title1">課程管理</h1>
        <div>
            <!-- bookmark -->
            <div class="bookmark-frontend" id="classes-bookmark">
                <button  v-for="(category,index) in categories" :key="category" class="bookmark-item classesonly" :class="[{active: currentcategory === index }]"  @click="currentcategory = index">{{category}}</button>
            </div>
            <div class="classbtn">
                <button class="bluebutton classesbtn" onclick="location.href='./manage-class-content.html'">新增項目</button>
            </div>
            <!-- gird -->
            <div class="manage-classesgrid" id="classes-grid">
                <manage-triclasses  v-for="subdata in this[classdata[currentcategory]]" :img-src="subdata.imgSrc" :class-url="subdata.classUrl" :class-title="subdata.classTitle" :class-subtitle="subdata.classSubtitle" :class-id="subdata.classID"></manage-triclasses>  
            </div>
        </div>
   </main>

   
   <!-- 這是footer-->
    <footer id="manage-footer">
        <manage-footer></manage-footer>   
    <!--這是目標標籤會被覆蓋 -->
    </footer>



<!--header/footer component-->
<script src="./src/js/vue.js"></script>
<script src="./src/component/common/manage-grid-classes.js"></script>
<script src="./src/component/common/manage-header.js"></script>
<script src="./src/component/common/manage-footer.js"></script>
<script>
    new Vue({
        el:'#classes-home',
        data:{
            
            // 書籤組件data
            currentcategory: 0,
            categories: ["團練課程", "個人教練","營養規劃"],
            classdata: ["triclasses", "trainers","menus"],
            // en_categories: ["triclass-classes", "trainer-classes","menu-classes"],
            // list_data:[[],[],[]],
        
            
            // **課程組件data**
            // 訓練課程
            triclasses:[
                // 1
                {       
                    classID:'G10001',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/class/class01.jpg',
                    classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                    classSubtitle:"", 
                },
                // 2
                {
                    classID:'G10002',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/class/class02.jpg',
                    classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                    classSubtitle:"", 
                },
                // 3
                {
                    classID:'G10003',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/class/class01.jpg',
                    classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                    classSubtitle:"", 
                },
                // 4
                {
                    classID:'G10004',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/class/class01.jpg',
                    classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                    classSubtitle:"", 
                },
                // 5
                {
                    classID:'G10005',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/class/class01.jpg',
                    classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                    classSubtitle:"", 
                },
                // 6
                {
                    classID:'G10006',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/class/class01.jpg',
                    classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                    classSubtitle:"", 
                },
                // 7
                {
                    classID:'G10007',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/class/class01.jpg',
                    classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                    classSubtitle:"", 
                },
                // 8
                {
                    classID:'G10008',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/class/class01.jpg',
                    classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                    classSubtitle:"", 
                },
                // 9
                {
                    classID:'G10009',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/class/class01.jpg',
                    classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                    classSubtitle:"", 
                },
                
            ],
            
            
            // 個人教練
            trainers:[
                // 1
                {
                    classID:'T10001',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                    classTitle:"黃雨欣",
                    classSubtitle:"游泳四段調整" 
                },
                // 2
                {
                    classID:'T10002',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                    classTitle:"黃雨欣",
                    classSubtitle:"游泳四段調整" 
                },
                // 3
                {
                    classID:'T10003',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                    classTitle:"黃雨欣",
                    classSubtitle:"游泳四段調整" 
                },
                // 4
                {
                    classID:'T10004',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                    classTitle:"黃雨欣",
                    classSubtitle:"游泳四段調整" 
                },
                // 5
                {
                    classID:'T10005',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                    classTitle:"黃雨欣",
                    classSubtitle:"游泳四段調整" 
                },
                // 6
                {
                    classID:'T10006',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                    classTitle:"黃雨欣",
                    classSubtitle:"游泳四段調整" 
                },
                // 7
                {
                    classID:'T10007',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                    classTitle:"黃雨欣",
                    classSubtitle:"游泳四段調整" 
                },
                // 8
                {
                    classID:'T10008',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                    classTitle:"黃雨欣",
                    classSubtitle:"游泳四段調整" 
                },
                // 9
                {
                    classID:'T10009',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/trainer/trainer01.jpg',
                    classTitle:"黃雨欣",
                    classSubtitle:"游泳四段調整" 
                },
            ],       

            
            // 營養規劃 
            menus:[
                // 1
                {
                    classID:'M10001',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                    classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                    classSubtitle:"", 
                },
                // 2
                {
                    classID:'M10002',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                    classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                    classSubtitle:"", 
                },
                // 3
                {
                    classID:'M10003',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                    classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                    classSubtitle:"", 
                },
                // 4
                {
                    classID:'M10004',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                    classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                    classSubtitle:"", 
                },
                // 5
                {
                    classID:'M10005',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                    classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                    classSubtitle:"", 
                },
                // 6
                {
                    classID:'M10006',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                    classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                    classSubtitle:"", 
                },

                // 7
                {
                    classID:'M10007',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                    classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                    classSubtitle:"", 
                },
                // 8
                {
                    classID:'M10008',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                    classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                    classSubtitle:"", 
                },
                // 9
                {
                    classID:'M10009',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/menu/menu01.jpg',
                    classTitle:"檸香鮭魚蘆筍藍莓沙拉",
                    classSubtitle:"", 
                },

            ],
        },
        
        // computed:{
        //     currentCategoryComponent(){

        //         return this.en_categories[this.currentcategory];          
        //     },
        // },

    });

</script> 
<script src="https://unpkg.com/spacingjs" defer></script>


</body>
</html>