<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 此為後台頁面樣板 -->
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>課程管理 | Triclub</title> 
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <!--這是header-->
    <header id="manage-header">
        <manage-header></manage-header><!--這是自定義標籤會被覆蓋-->
    </header>
  

    <main class="manage-main manage-classes-content" id="manage-classes-content">
        <h1 class="manage-title title1">課程管理</h1>
        <button @click="manageClassHome()" class="bluebutton manageprebutton">回上一頁</button>

        <!--多檔案格式-->
        <form id="uploadclassform" method="post" enctype="multipart/form-data"> 
            <div class="classesWrapper">
                <div  class="classesContent">
                    <!-- 名稱 -->
                    <label class="title3">名稱</label>
                    <input v-model="this.classTitle" id="classTitle" type="text" name="classTitle">
                    <hr>
                    <!-- 編號 -->
                    <label v-if="editpage == true" class="title3">編號</label>
                    <input v-if="editpage == true" :value="this.classId" id="classId" type="text" name="classId" readonly>
                    <hr v-if="editpage == true">
                    <!-- 分類 -->  
                    <label class="title3">分類</label><br>
                    <!-- TODO:記得送出刪disabled -->
                    <select v-model="classCategory" name="category" id="category"  :disabled = "editpage" >
                        <option value="G">團練課程</option>
                        <option value="T">個人教練</option>
                        <option value="M">營養規劃</option>
                    </select>
                    <!-- <p>{{classCategory}}</p> -->
                    <hr>
                    <!-- 授課教師 -->
                    <label class="title3">授課教師</label>
                    <input v-model="this.trainer" id="trainer" type="text" name="trainer">
                    <hr>
                     <!-- 活動地點 -->
                    <label class="title3">活動地點</label>
                    <input v-model="this.classLocation" id="classLocation" type="text" name="classLocation">
                    <hr>
                     <!-- 狀態 -->
                    <!-- <label class="title3">狀態</label>
                    <input v-model="this.classState" id="classState" type="" name="">
                    <hr> -->
                     <!-- 簡介 -->
                    <label class="title3">簡介</label>
                    <textarea v-model="this.classInfo" id="classInfo"  name="classInfo"></textarea>
                    <hr>
                    <!-- 圖片 -->
                    <label class="title3">圖片</label>
                    <input type="file" id="classimg"  name="classimg[]"  accept="image/*" @change="setImagePreviews" multiple></input>
                    <button @click.prevent="removeImg">重設</button>
                    <!-- 預覽 -->
                    <div class="classpreview" id="classpreview"></div>
                   
                    <div class="manage_race_button"> 
                        <button v-if="editpage == true" @click.prevent="deleteClass" class="yellowbutton">下架</button>

                        <button v-if="editpage == false" type="reset" class="yellowbutton">重置</button>
                        <button @click.prevent="saveToDB" class="bluebutton">保存/編輯</button>
                    </div>
                </div>
            </div>
        </form>
    </main>

   
   <!-- 這是footer-->
    <footer id="manage-footer">
        <manage-footer></manage-footer>   
    <!--這是目標標籤會被覆蓋 -->
    </footer>



    <script src="./src/js/vue.js"></script>
    <script src="./src/js/vuex.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 測量網頁距離 -->
    <script src="https://unpkg.com/spacingjs" defer></script>
    <!--header/footer component-->
    <script src="./src/component/common/manage-header.js"></script>
    <script src="./src/component/common/manage-footer.js"></script>

    <script type="module">
        // 匯入VUEX
        import {classes, coach} from "./store-classes.js";

        new Vue({
            el:'#manage-classes-content',
            store:{classes,coach},

            data:{
                //判斷新增或編輯
                editpage:false, 
                
                classTitle:"", 
                classId:"",
                classCategory:"G",
                trainer:"",
                classLocation:"",
                classInfo:"",
                classimg:[],
    
                
            },

            created() {

                // 判斷新增還是編輯
                let classidval = (new URL(location.href)).searchParams.get('classid');

                // 編輯
                if(classidval !== 'new'){

                    //判斷分類
                    let check = classidval.slice(0,1);
                    console.log(check);
                    
                    if(check == "G" || check == "M"){
                        
                        this.$store.classes.commit('classesContentStart');
                        this.classTitle = this.$store.classes.state.classTitle; 
                        
                    }else{
                        
                        this.$store.coach.commit('classesContentStart');
                        this.classTitle = this.$store.coach.state.trainerName; 
                    }
                    
                    
                    this.classId = classidval;
                    this.editpage = true; 
                    
                }
            },

            methods: {
                // 上一頁
                manageClassHome(){
                    window.location="manage-class-home.html"
                },


                // 新增圖片
                setImagePreviews(e){
                    console.log(e.target.files);

                    let filelist = e.target.files;
                  
                    console.log(filelist);

                    if(filelist && filelist[0] && filelist.length < 4){
                        
                        console.log("進來了");

                        // 判斷是否已經有圖 & 清空欄位值
                        if( $("#classpreviewimg").length > 0){
                            $("#classpreview").children().remove();
                            this.classimg = [];
                        }
                       
                        for(let i=0; i < filelist.length; i++){
                            let reader = new FileReader();
                            reader.readAsDataURL(filelist[i]);
                            
                            reader.onload = () => {

                                // 渲染
                                $("#classpreview").append(`<div id="classpreviewimg"><img src=${reader.result}></div>`);
                                
                            

                            }

                        }

                        
                    }else if(filelist.length > 3){
                        
                        alert("最多上傳3個檔案");
                        // console.log("false");
                        let imginput = document.getElementById("classimg");
                        imginput.value = "";
                     
                        
                    }else{
                        console.log("88");
                        
                    }
                    
                },

                // 刪除圖片
                removeImg(){
                    if( $("#classpreviewimg").length > 0){
                        $("#classpreview").children().remove();
                        this.classimg = [];     
                    }
                },

                // 送出
                saveToDB(){
                    //TODO:編輯要記得刪disabled 

                    const formData = new FormData(document.getElementById('uploadclassform'));
                    console.log(formData);

                    let object = {};
                    formData.forEach((val, key) => {
                    object[key] = val;
                    });
                    console.log(object);

                },

                // 下架
                deleteClass(){

                },
            },

        });

       

    </script> 


</body>
</html>