<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 此為後台頁面樣板 -->
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>賽程管理 | Triclub</title> 
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <!--這是header-->
    <header id="manage-header">
        <manage-header></manage-header><!--這是自定義標籤會被覆蓋-->
    </header>
  

   <!--內容所有都放在此，manage-main為引入通用的scss之用。-->
    <!-- 進行切版時再自行加上各自頁面專屬的class名稱，-->
    <main class="manage-main manage_race_list_wrapper ">  
        <h1 class="manage-title title1">賽程管理</h1>
        <div id="race_list">
            <button  onclick="location.href='./manage-race-content.html'" class="bluebutton race_add" >新增項目</button>
            <main class="manage_race_wrapper"> 
                 <div class="race_title">
                     <p>日期</p>
                     <p>地點</p>
                     <p>賽事</p>
                     <p>項目</p>
                     <p>活動狀態</p>
                 </div>
                 <template v-for="game in tidedData">
                    <div class="manage_raceinfo"> 
                         <a class="artical" href="./manage-race-content.html">{{game.RaceDate}}</a>
                         <a class="artical" href="./manage-race-content.html">{{game.RaceLocation}}</a> 
                         <a class="artical" href="./manage-race-content.html">{{game.title}}</a>
                         <div class="distences">
                              <a   v-for="distence in game.distences" v-show="distence.event != false" :style="{backgroundColor:distence.color}" class="artical race_distence" href="./manage-race-content.html">{{distence.dis}}</a>  
                         </div>
                         <a class="artical" href="./manage-race-content.html">{{game.state}}截止</a>
                    </div>
                 </template>
             </main>
            
            <div class="pagination">
                <!--分頁器-->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous" @click.prevent="minusOnePage">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <li class="page-item" v-for="page in totalPage"><a class="page-link" @click.prevent="changeRacePage" href="#">{{page}}</a></li>
                        
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next" @click.prevent="plusOnePage" >
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </div>
    </main>

   
   <!-- 這是footer-->
    <footer id="manage-footer">
        <manage-footer></manage-footer>   
    <!--這是目標標籤會被覆蓋 -->
    </footer>



<!--header/footer component-->
<script src="./src/js/vue.js"></script>
<script src="./src/component/race/race.js"></script>
<script src="./src/component/common/manage-header.js"></script>
<script src="./src/component/common/manage-footer.js"></script>



</body>
</html>