<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 此為後台頁面樣板 -->
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>課程管理 | Triclub</title> 
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <!--這是header-->
    <header id="manage-header">
        <manage-header></manage-header><!--這是自定義標籤會被覆蓋-->
    </header>
  

    <main class="manage-main manage-classes-content" id="manage-classes-content">
        <h1 class="manage-title title1">課程管理</h1>
        <button @click="manageClasshome()" class="bluebutton manageprebutton">回上一頁</button>

        <!--多檔案格式-->
        <form  enctype="multipart/form-data"> 
            <div class="classesWrapper">
                <div  class="classesContent">

                    <label class="title3">名稱</label>
                    <input v-model="this.classTitle" id="classTitle" type="" name="">
                    <hr>
                    <label class="title3">編號</label>
                    <input :value="this.classId" id="classId" type="" name="" :disabled="newpage">
                    <hr>
                    <label class="title3">授課教師</label>
                    <input v-model="this.teacher" id="teacher" type="" name="">
                    <hr>
                    <label class="title3">活動地點</label>
                    <input v-model="this.classPosition" id="classPosition" type="" name="">
                    <hr>
                    <label class="title3">狀態</label>
                    <input v-model="this.classState" id="classState" type="" name="">
                    <hr>
                    <label class="title3">簡介</label>
                    <textarea v-model="this.classInfo" id="classInfo"  name=""></textarea>
                    <hr>
                    <label class="title3">圖片</label>
                    <input type="file" id="classimg"  name="file[]" multiple></input>


                
                <div class="manage_race_button"> 
                    <button class="yellowbutton">下架</button>
                    <button class="bluebutton ">保存</button>
                </div>
            </div>
        </form>
    </main>

   
   <!-- 這是footer-->
    <footer id="manage-footer">
        <manage-footer></manage-footer>   
    <!--這是目標標籤會被覆蓋 -->
    </footer>



    <script src="./src/js/vue.js"></script>
    <!-- 測量網頁距離 -->
    <script src="https://unpkg.com/spacingjs" defer></script>
    <!--header/footer component-->
    <script src="./src/component/common/manage-header.js"></script>
    <script src="./src/component/common/manage-footer.js"></script>

    <script>
        new Vue({
            el:'#manage-classes-content',
            data:{
                    
                //判斷新增或編輯
                editpage:false, 
                
                classTitle: "", 
                classId:"G10001",
                classCategory:"團練課程",
                teacher:"",
                classPosition:"",
                classState:"",
                classInfo: "",
                classimg:"",

                
                // **課程組件data**
                // 訓練課程
                triclasses:{       
                    classID:'G10001',
                    classUrl:'./classes-content.html',
                    imgSrc:'./src/images/img/classes/class/class01.jpg',
                    classTitle:"2021 Liv Iron Girl X 鐵人私塾 官方聯名系列課",
                    classSubtitle:"", 
                },
                    
                
            },

            // created() {
                
            // },

            methods: {

              

                // 上一頁
                manageClasshome(){
                    window.location="manage-class-home.html"
                }

            },

        });

    </script> 


</body>
</html>