<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>管理者登入 | Triclub</title> 
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"></script>

</head>

<body>
    <!--這是header-->
   <header id="manage-header">
        <manage-header></manage-header><!--這是自定義標籤會被覆蓋-->
   </header>
  

   <!--內容所有都放在這div裡面-->
   <main id="manage-login" class="member-login">
       <div class="login-bg">
           <div class="login-content">
               <img src="./src/images/icons/logo.svg">
               <h2>管理者登入</h2>
               <div class="input-wrapper">
                   <input type="text" class="login-input" v-model="account" placeholder="請輸入帳號"><br>
                   <input type="password" class="login-input" v-model="password" placeholder="請輸入密碼">
               </div>
              
               <div class="btn-wrapper">
                   <button class="orangebutton" @click="login">登入</button>
                   <!-- onclick="self.location.href='member-main.html'" -->
               </div>
           </div>
       </div>
   </main>

   
   <!--這是footer-->
   <footer id="manage-footer">
       <manage-footer></manage-footer>
   </footer>



<!--header/footer component-->
<script src="./src/js/vue.js"></script>
<script src="./src/component/common/manage-header.js"></script>
<script src="./src/component/common/manage-footer.js"></script>
<script>
    new Vue({
        el: "#manage-login",
        data: {
            account: "",
            password: "",
            
        },
        methods: {
            login(){
                axios({
                    method: "post",
                    url: "./php/manage-login.php",
                    data: {
                        account: this.account,
                        password: this.password
                    }
                })
                .then((res) => {
                    if(!res.data.includes("帳號或密碼錯誤!")) {
                        alert(res.data);
                        document.location.href='./manage-member-personal-info.html';
                    } else {
                        alert(res.data);
                    }
                })
                .catch((error) => console.log(error))
            }
        },
        
    })
</script>

</body>
</html>