<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 此為後台頁面樣板 -->
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>討論區管理 | Triclub</title> 
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"></script>
</head>

<body>
    <!--這是header-->
    <header id="manage-header">
        <manage-header></manage-header><!--這是自定義標籤會被覆蓋-->
    </header>
    

   <!--內容所有都放在此，manage-main為引入通用的scss之用。-->
    <!-- 進行切版時再自行加上各自頁面專屬的class名稱，-->
    <main id="manage-forum-report" class="manage-main manage-forum-report">  
        <h1 class="manage-title title1">討論區管理</h1>
        <!-- <div class="bookmark-manage">
            <bookmark-forum v-for="(category, index) in categories" :key="index" :category="category">
        </div> -->
        
        <div>
            <div class="button-block-manage">
                <button class="small-red report" @click="blockThePost">下架文章</button>
            </div>
        
            <table class="report-table">
                <thead>
                    <tr>
                        <td></td>
                        <td>文章編號</td>
                        <td>文章標題</td>
                        <td>文章內容</td>
                        <td>發文者編號</td>
                        <td>檢舉事由</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="single-report" v-for="singleReport in reportData" :data-id="singleReport.PostID">
                        <td>
                            <input type="checkbox" name="report" class="checking" @change="getId">
                        </td>
                        <td>{{singleReport.PostID}}</td>
                        <td>{{singleReport.PostTitle}}</td>
                        <td>
                            <span class="article-content">
                                {{singleReport.PostContent}}
                            </span>
                        </td>
                        <td>{{singleReport.UserID}}</td>
                        <td>{{singleReport.ReportReason}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    
   <!-- 這是footer-->
    <footer id="manage-footer">
        <manage-footer></manage-footer>   
    <!--這是目標標籤會被覆蓋 -->
    </footer>



<!--header/footer component-->
<script src="./src/js/vue.js"></script>
<script src="./src/component/common/manage-header.js"></script>
<script src="./src/component/common/manage-footer.js"></script>
<script src="./src/component/common/bookmark-forum.js"></script>


<script>
    new Vue({
        el: "#manage-forum-report",
        data: {
            categories: ["檢舉"],
            reportData: [],
            storeId: "",
        },
        methods: {
            getId(){
                let wrap = document.querySelector(".checking").closest("tr");
                this.storeId = wrap.dataset.id;
            },
            blockThePost(){
                
                axios({
                    method: "post",
                    url: "./php/delete-forum.php",
                    data: {
                        postid: parseInt(this.storeId)
                    }
                })
                .then((res) => {
                    console.log(res);
                    window.location.reload();
                })
                .catch((error) => {
                    console.log(error);
                })
            }
        },
        mounted(){
            axios({
                method: "post",
                url: "./php/select-report.php"
            })
            .then((res)=> {
                console.log(res.data);
                this.reportData = res.data;
                if(this.reportData.length === 0) {

                }
            })
            .catch((error) => {
                console.log(error);
            })
        }
    });
</script>

</body>
</html>