<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>會員中心 | Triclub</title> 
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"></script>

    
</head>

<body>
    <!--這是header-->
   <header id="header" :class="{sticky: active}">
        <my-header ></my-header><!--這是自定義標籤會被覆蓋-->
   </header>
  
   
   <!--內容所有都放在這div裡面-->
   <main id="member-main" class="member-main">
        <div class="member-bgwhite" v-for="userInfo in userInformation">
			<aside class="left-area">
				<div class="member-photo">
					<input class="upload-image" type="file" name="file" id="" @change="upload">
					<img class="avatar" :src="avatarSrc">
				</div>
				<!-- <div class="member-name-left">Lawrence</div> -->
				<ul class="member-info-left">
					<li>{{userInfo.UserName}}</li>
					<li>{{userInfo.Account}}</li>
					<li>{{userInfo.Email}}</li>
				</ul>
				<input type="button" value="我的個人計畫" class="orangebutton" onclick="self.location.href='plan-member.html'">
			</aside>
			<aside class="right-area">
				<h2 class="title member_data_membertitle">會員基本資料</h2>
				<div class="member-info-right">
					<div class="member-info-right-top">
						<form action="" class="firstpartleft">
							<label for="member-name">姓名：</label>
							<input type="text" v-model="name"  name="member-data" id="member-name" disabled><br>
							
							<label for="member-birth">生日：</label>
							<input type="date" v-model="birthday" name="member-data" id="member-birth" disabled><br>
							
							<label for="member-phone">電話：</label>
							<input type="text" v-model="phone" name="member-data" id="member-phone" disabled><br>
							
							<label for="member-address">地址：</label>
							<input type="text" v-model="address"  name="member-data" id="member-address" disabled><br>
							<span id="ctyForChangePassword">
							<label for="member-password">密碼：</label>
							<input type="password" v-model="password" name="member-password" id="member-password" disabled>
							<a href="javascript:void(0);" id="changepw" class="changepw">更改密碼</a>
							</span>
						</form>
						<ul class="firstpartright">
							<li>電子信箱：	{{userInfo.Email}}</li>
							<li>會員帳號：	{{userInfo.Account}}</li>
							<li>累積點數：	100點</li>
							<!-- <li>登入天數：	301天</li>    -->
						</ul>
						<button class="edit-btn" id="click-btn" @click="turnOn">
							<i class="fas fa-pen"></i>
						</button>
						<div id="popup-bg" class="popup-bg">
							<div id="content" class="content">
								<h2>更改密碼</h2>
								<div class="maincontent">
									 <label class="required">*</label>
									 <input type="password" class="editarea" placeholder="目前密碼"><br>
									 <label class="required">*</label>
									 <input type="password" class="editarea" placeholder="新密碼"><br>
									 <label class="required">*</label>
									 <input type="password" class="editarea" placeholder="確認新密碼"><br>
								</div>
								<div class="close-btn">
									<button id="cancel-btn" class="cancel-btn">取消</button>
									<input type="submit" id="submit-btn" class="submit-btn" value="送出" @click="submitEdit">
								</div>
							</div>
						</div>
					</div>
					<div class="firstpart-btn" id="firstpart-btn">
						<input type="button" value="取消" class="orangebutton" id="firstpart-cancel-btn" @click="turnOff">
						<input type="submit" value="保存設定" class="orangebutton" id="firstpart-submit-btn" @click="submitEdit">
					</div>
				</div>
				<h2 class="title">我的訂單</h2>
				<div class="member-search">
					
				</div>
				<div class="grid-order">
					<div class="grid-items1"><a href="member-order.html">0123456789</a></div>
					<div class="grid-items1">2021-10-06</div>
					<div class="grid-items1">已完成</div>
					<div class="grid-items2"><a href="member-order.html">0223456789</a></div>
					<div class="grid-items2">2021-10-06</div>
					<div class="grid-items2">未完成</div>
					<div class="grid-items1"><a href="member-order.html">0323456789</a></div>
					<div class="grid-items1">2021-10-06</div>
					<div class="grid-items1">已取消</div>
					<div class="grid-items2"><a href="member-order.html">0423456789</a></div>
					<div class="grid-items2">2021-10-06</div>
					<div class="grid-items2">已完成</div>
					<div class="grid-items1"><a href="member-order.html">0523456789</a></div>
					<div class="grid-items1">2021-10-06</div>
					<div class="grid-items1">已完成</div>
					<div class="grid-items2"><a href="member-order.html">0623456789</a></div>
					<div class="grid-items2">2021-10-06</div>
					<div class="grid-items2">未完成</div>
				</div>
				
			</aside>
		</div>
   </main>

   
   <!--這是footer-->
   <footer id="footer">
      <my-footer></my-footer><!--這是目標標籤會被覆蓋-->
   </footer>



<!--header/footer component-->
<script src="./src/js/vue.js"></script>
<script src="./src/component/common/header.js"></script>
<script src="./src/component/common/footer.js"></script>
<script src="./src/component/member/passwordpopup.js"></script>
<!-- <script src="./src/component/member/edit-btn.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"></script>
<script>
	new Vue({
		el: "#member-main",
		data: {
			name: "",
			birthday: "",
			phone: "",
			address: "",
			password: "000000",
			userInformation: [],
			avatar_arr: [],
			avatarSrc: ""

		},
		methods: {
			upload(e){
				let input = document.querySelector(".upload-image");
				let avatar = document.querySelector(".avatar");
				let inputFile = input.files[0];
				console.log("input.files[0]",input.files[0]);
				// let readFile = new FileReader();  
				// // console.log("readFile", readFile);
				// theFile = readFile.readAsDataURL(inputFile);
				
				// console.log("readFile.result", readFile.result);

				// console.log("readFile.result::", readFile.result);
				let virtualPath = URL.createObjectURL(inputFile);

				this.avatarSrc = virtualPath;
				
				console.log("virtualPath", virtualPath);
				// console.log("readFile.result", readFile.result);
				
				axios({
					method: "post",
					url: "./php/new-avatar.php",
					data: {
						avatar: input.files[0].name,
						source: virtualPath
					}
				})
				.then((res) => {
					console.log(res);
				})
				.catch((error) => {
					console.log(error);
				})
			},
			turnOn(){
				document.getElementById('member-name').disabled = false;
				document.getElementById('member-birth').disabled = false;
				document.getElementById('member-phone').disabled = false;
				document.getElementById('member-address').disabled = false;
				document.getElementById('firstpart-btn').setAttribute("style", "display: block");
			},
			turnOff(){
				document.getElementById('member-name').disabled = true;
				document.getElementById('member-birth').disabled = true;
				document.getElementById('member-phone').disabled = true;
				document.getElementById('member-address').disabled = true;
				document.getElementById('firstpart-btn').setAttribute("style", "display: none");
			},
			submitEdit(){
				axios({
					method: "post",
					url: "./php/edit-member.php",
					data: {
						name: this.name,
						birthday: this.birthday,
						phone: this.phone,
						address: this.address
					}
				})
				.then((res) => {
					alert("修改成功!")
					// document.location.href="../member-main.html";
				})
			}
		},
		mounted(){
			axios({
				method: "post",
				url: "./php/select-member.php",
			})
			.then((res) => {
				this.userInformation = res.data;
				this.name = this.userInformation[0].UserName;
				this.birthday = this.userInformation[0].Birthday;
				this.phone = this.userInformation[0].Mobile;
				this.address = this.userInformation[0].Address;

				console.log(this.userInformation);
			})
			.catch((error) => console.log(error))

			axios({
				method: "post",
				url: "./php/select-avatar.php"
			})
			.then((res)=>{
				console.log(res);
				this.avatar_arr = res.data;
				this.avatarSrc = this.avatar_arr[0].UserPhoto;

				console.log("arr", this.avatar_arr);
				
				// console.log("ava", this.avatarSrc);
				let img = document.querySelector(".avatar");
				console.log("img", img);
			})
			.catch((error)=>{
				console.log(error);
			})
		},
	})
</script>

</body>
</html>