<!DOCTYPE html>
<html lang="zh-tw" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>我的計畫表|Triclub</title> 
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <!--c3.js style-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.18/c3.css">
    <!--d3.js & c3.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.18/c3.js"></script>
    <script src="./src/js/vue.js"></script>
    <script src="./src/js/vuex.js"></script>

</head>

<body class="plan">
    <!--這是header-->
   <header id="header" :class="{sticky: active}" >
        <my-header ></my-header><!--這是自定義標籤會被覆蓋-->
   </header>
  
   <!--這是計畫表主體-->
   
   <main class="plan_member_wrapper" id="plan_wrapper" >
       <!-- <light-box></light-box> -->
       <!--這是計畫表會員側欄位-->
        <header id="plan_member_info" class="plan_member_aside">
            <section class="plan_member_aside_container">
                <!--會員側欄位頭貼暱稱-->
                <header>
                    <div class="plan_member_photo">
                        <img  id="" :src="memberinfo.photo" alt="">
                    </div>
                    <div>
                        <p class="title3">maggie</p>
                        <hr style="border: 1px dashed orange;width: 100%;">
                    </div>
                </header>
                <main class="plan_member_main_content">
                    <div>
                        <p>我的比賽日期<br>
                        {{memberinfo.racedate}}
                        <hr style="border: 1px dashed orange;width: 100%;">
                        <p class="title3" style="margin: 0;" >{{memberinfo.week}}<br>week</p>
                    </div>
                    <vue-c3 :handler="handler" id="plan_chart"></vue-c3>
                    <!-- <div id="plan_chart">
                        <i class="fa-solid fa-person-swimming"></i>
                        <i class="fa-solid fa-person-biking"></i>
                        <i class="fa-solid fa-person-running"></i>
                    </div> -->
                </main>
                <div class="plan_member_button">
                    <button onclick="window.open('./member-main.html', '_self')" class="bluebutton">我的基本資料</button>
                    <button class="orangebutton" @click="plancancel">取消計畫</button>
                </div>
            </section>
        </header>
        <!--空空如也-->
        <section v-if=" cancel == false" class="plan_empty">
            <div>
                <h2 class="article">計畫表空空如也~
                    <br>
                    快去訂製計畫表吧!
                    <br>
                    <button class="orangebutton" @click="resetplan">訂製計畫表</button>
                </h2>
            </div>
        </section>
        <section v-if="cancel"  class="plan_member_content">
            <section>
                <!--天數head-->
                <div id="plan_week">
                    <ul>
                        <li v-for="day in 7" class="title2">D{{day}}</li>
                    </ul>
                </div>
              
                <!--訓練表主要內容-->
                <div  class="plan_scroll">
                    <section  v-for="week in memberinfo.week" id="plan_member_table">
                      <span class="week_mark title2">W{{week}}</span>
                       <ul>
                           
                                <li  v-for="(perday,index) in plandata" class="plan_member_eachday">
                                    <div id="plan_week_table">
                                        <ul>
                                            <li class="title2">D{{index+1}}</li>
                                        </ul>
                                    </div>

                                    <div class="orangetitle">
                                        <span v-show="perday.Swim"><i class="fa-solid fa-person-swimming"></i></span>
                                        <span v-show="perday.Bike"><i class="fa-solid fa-person-biking"></i></span>
                                        <span v-show="perday.Run"><i class="fa-solid fa-person-running"></i></span>
                                    </div>   
                                    
                                    <div class="plan_member_exe" :class="{ done: perday.check.includes(week)}" > <!--includes有這個week才執行done-->
                                        <p v-show="perday.Swim != null">{{Object.keys(perday)[0]}}-<span>{{perday.Swim}}</span></p>
                                        <p v-show="perday.Bike != null">{{Object.keys(perday)[1]}}-<span>{{perday.Bike}}</span></p>
                                        <p v-show="perday.Run != null">{{Object.keys(perday)[2]}}-<span>{{perday.Run}}</span></p>
                                        <!--完成一天--->
                                        
                                        <input @click="perday.check.push(week);checkoneday()" v-show="perday.Rest == false" class="complete" type="button" >
                                        <p v-show="perday.Rest != false" style="background:linear-gradient(120deg,#E75F49,#FFA10A,#FFEF36);height: 100%;">
                                            <span style="color: rgba(248, 248, 248, 0.8);font-size:24px;">{{perday.Rest}}</span>
                                        </p>
                                    </div>
                                </li>
                            
                        </ul>         
                    </section>
                </div>
              
              </section>
        </section>
    </main>

   <!--這是footer-->
   <footer id="footer">
      <my-footer></my-footer><!--這是目標標籤會被覆蓋-->
   </footer>

<!-- <script src="./src/component/plan/plan.js"></script> --><!--(美蒂避風港)-->
<script src="./src/component/common/header.js"></script>
<script src="./src/component/common/footer.js"></script>
<script type="module">
    import plan from "./store-plan.js"
    //計畫表
    new Vue({
        el: '#plan_wrapper',
        store:plan,
        data() {
            return {
                handler: new Vue(),
                Swim:10,
                Bike:20,
                Run:10,
            }
        },
        methods: {
            checkoneday(){
                this.$store.commit('checkoneday')
            },
            
            plancancel(){
                this.$store.commit('plancancel')
            },
            resetplan(){
            window.location="./plan-temporary.html"
            },
        
        },
            computed:{
                    cancel(){
                        return this.$store.state.cancel
                    },
                    memberinfo(){
                        return this.$store.state.memberinfo
                    },
                    plandata(){
                        return this.$store.state.plandata
                    },
                    options() {
                     return {
                        columns: [
                            ["Swim", this.Swim],
                            ["Bike", this.Bike],
                            ["Run", this.Run],
                        ],
                        type: "bar",
                        colors: {
                            Swim: "#FFA10A",
                            Bike: "#00429D",
                            Run: "#E75F49"
                        },
                      }
                    },
                    options() {
                    return {
                        // 主としてデータ
                        data: {
                        columns: [
                            // 配列一つ目が、データの名前になる
                            ['弊社', 0, 20, 10, 40, 15, 20],
                            ['御社', this.val, 200, 100, 400, 150, 250]
                        ],
                        },
                        axis: {
                        x: {
                            label: {
                            // X 軸のラベルを変更する
                            // 位置も変えれる
                            text: '期',
                            position: 'outer-center'
                            }
                        },
                        y: {
                            label: {
                            text: '売り上げ(億)',
                            position: 'outer-middle'
                            }
                        }
                        },
                        tooltip: {
                        // 各点にマウスオーバーした際に出てくる部分の設定
                        format: {
                            title(d) {
                            return `第 ${d} 期`
                            },
                            value(value, ratio, id) {
                            return `${value} 億円`
                            }
                        }
                        },
                        grid: {
                        x: {
                            show: true
                        },
                        y: {
                            show: true
                        }
                        },
                        legend: {
                        position: 'right'
                        }
                    }
                    }
            },

            created() { 
                let theData = localStorage.getItem('plandata');
                if(theData != null){
                    return this.$store.state.plandata = JSON.parse(theData);
                }
            },
            mounted() {
                //C3.js
                this.handler.$emit('init', this.options)
                var chart = c3.generate({
                    bindto: "#plan_chart",
                    size: {
                            height: 140,
                            width: 190
                        },
                    data: {  //針對圖表的樣式資料屬性寫在data內
                        
                        columns: [
                            ["Swim", this.Swim],
                            ["Bike", this.Bike],
                            ["Run", this.Run],
                        ],
                        type: "bar",
                        colors: {
                            Swim: "#FFA10A",
                            Bike: "#00429D",
                            Run: "#E75F49"
                        },
                    
                    },
                    bar:{
                        ratio: 0.8 ,
                        space: 0.25
                    },
                    legend: {
                        show: true, //是否顯示下排項目表
                    },
                    axis: {
                        x:{
                            show: false,
                        },
                        y:{
                            show: false,
                        }
                    }
                
                });

            },
        
    });  
    

    
        
</script>
</body>
</html>

