<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="三鐵,三鐵訓練,triathlon">  
    <meta name="description" content="幫助想參加三鐵賽事的人製作訓練計畫表，且提供相關訓練課程">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--要記得改頁面標題! 統一範例:你的頁面名稱 | Triclub-->
    <title>TriclubSample|Triclub</title> 
    <!--從scss轉譯過來的-->
    <link rel="stylesheet" href="css/style.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <!--這是header-->
    <header id="header" :class="{sticky: active}" >
        <my-header></my-header><!--這是自定義標籤會被覆蓋-->
   </header>
   <!--內容所有都放在這div裡面-->
   <main class="race_list_wrapper">
       <div id="race_list">
           <!-- <nav>這裡是頁籤</nav> -->
           <main class="race_wrapper"> 
                <div class="race_title">
                    <p>日期</p>
                    <p>地點</p>
                    <p>賽事</p>
                    <p>項目</p>
                    <p>活動狀態</p>
                </div>
                <template v-for="game in tidedData">
                   <div class="raceinfo"> 
                        <a class="artical" href="./race-content.html">{{game.date}}</a>
                        <a class="artical" href="./race-content.html">{{game.place}}</a> 
                        <a class="artical" href="./race-content.html">{{game.title}}</a>
                        <div class="distences">
                             <a   v-for="distence in game.distences" v-show="distence.event != false" :style="{backgroundColor:distence.color}" class="artical race_distence" href="./race-content.html">{{distence.dis}}</a>  
                        </div>
                        <a class="artical" href="./race-content.html">{{game.state}}截止</a>
                   </div>
                </template>
            </main>
           
                <div class="pagination">
                    <!--分頁器-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous" @click.prevent="minusOnePage">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            <li class="page-item" v-for="page in totalPage"><a class="page-link" @click.prevent="changeRacePage" href="#">{{page}}</a></li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next" @click.prevent="plusOnePage" >
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
           
       </div>
   </main>
   <!--這是footer-->
   <footer id="footer">
      <my-footer></my-footer><!--這是目標標籤會被覆蓋-->
   </footer>

    <!--header/footer component-->
    <script src="./src/js/vue.js"></script>
    <script src="./src/component/common/header.js"></script>
    <script src="./src/component/common/footer.js"></script>

 <script>
    const raceinfo = new Vue({
        el: '#race_list',
        data(){
         return{
            itemsPerPage: 5,//一頁顯示筆數
            tidedData:[],
            currentPage: 1,
            //模擬資料(11筆) 11/5 無條件進位 = 3頁
            games :[
                
            
          
            {
                "date":20210927,
                "place":"基隆市",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":true
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":true
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"新北市",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":false
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":true
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"宜蘭縣",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":true
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":true
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"新北市",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":true
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":false
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"高雄市",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":false
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":true
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"新北市",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":false
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":false
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"宜蘭縣",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":false
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":true
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"新北市",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":false
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":false
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"宜蘭縣",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":false
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":true
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"新北市",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":false
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":false
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"宜蘭縣",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":false
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":true
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20211227,
                "place":"花蓮縣",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":false
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":false
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"桃園市",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":false
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":true
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"新北市",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":false
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":false
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"桃園市",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":false
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":true
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            },
            {
                "date":20210927,
                "place":"新北市",
                "title":"2021 Let's Run At Home 空英1919陪讀鐵人三項",
                "distences" :[
                    {
                    "dis":"51.5k",
                    "color":"yellow",
                    "event":true
                    }, 
                    {
                    "dis":"113k",
                    "color":"orange",
                    "event":false
                    }, 
                    {
                    "dis":"51.5k",
                    "color":"blue",
                    "event":true
                    }
                  ],
                "state":20210927
    
            }
          ]
        }   
       },
        computed: {
                totalPage() {  //總頁數
                    return Math.ceil(this.games.length / this.itemsPerPage); 
                },
                
                startIndex() {    
                    return (this.currentPage - 1) * this.itemsPerPage;
                },
            },
        methods: {
            changeRacePage(e) {
                console.log(e.target)
                this.currentPage = parseInt(e.target.innerText);
                console.log(this.currentPage);
            },
            minusOnePage() {
                if(this.currentPage > 1) {
                    this.currentPage = this.currentPage - 1;
                }
            },
            plusOnePage() {
                if(this.currentPage < this.totalPage) {
                    this.currentPage = this.currentPage + 1;
                }
            },
        },
        watch: {
            currentPage(newValue, oldValue) {
                console.log(`currentPage: ${oldValue} => ${newValue}`);
                this.tidedData = this.raceData.slice(this.startIndex, this.startIndex + this.itemsPerPage);
                
                document.querySelectorAll("a.page-link").forEach((text, index) => {
                    if(parseInt(text.innerText) === parseInt(newValue)) {
                        text.style.backgroundColor = "orange";
                    } else {
                        text.style.backgroundColor = "";
                    }
                })
                
            },    
        },
        created() {
            //指定哪個data
            this.raceData = this.games; 
            //從哪個index起始
            this.startIndex = (this.currentPage - 1) * this.itemsPerPage;
            //回傳切割後的新陣列
            this.tidedData = this.raceData.slice(this.startIndex, this.startIndex + this.itemsPerPage);            

        },
    });
    
 </script>
</body>
</html>