
//斷點 ⬇⬇⬇⬇⬇下方有範例⬇⬇⬇⬇⬇//
@mixin pc(){
    @media all and (max-width: 1366px){
        @content;
    }
}

@mixin table(){
    @media all and (max-width: 767px){
      @content;
  }
}

@mixin mobile(){
    @media all and (max-width: 576px){
        @content;
    }
}

//⬇⬇⬇⬇⬇斷點引用範例⬇⬇⬇⬇⬇//

// .box{
//   float:left;
//   width: 30%;
//   @include tablet() {
//     float: none;
//     width: 100%;
//   }
// }
//編譯出來的CSS
// .box {
//   float: left;
//   width: 30%;
// }
// @media only screen and (max-width: 767px) {
//   .box {
//     float: none;
//     width: 100%;
//   }
// }



@mixin flexcenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//字體與字重參數自行輸入//
@mixin fontfamily($weight) {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: $weight;
}


//白襯底
@mixin bgwhite {
  background-color: rgba($white, 0.8);
  border-radius:10px;
}



//計畫表的背景
@mixin bgplan($height) {
  height: $height;
  background-color: $blue;
  background-image: url("../src/images/img/common/background-yellow-gradient.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin bgplantem($height){
  height: $height;
  background-color: $white;
  background-image: url("../src/images/img/common/background-yellow-gradient.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin questionbox(){
  background-image: url("../src/images/icons/plan_questionbox.svg");
  background-repeat: no-repeat;
  background-size:contain;
}

//其他頁背景
@mixin bgnormal($height) {
  height: $height;
  background-color: $white;
  background-image: url("../src/images/img/common/background-traning.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

//背景設定repeat
@mixin bgnorepeat(){
  background-repeat: no-repeat;
  
}

