@mixin flexcenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//字體與字重參數自行輸入//
@mixin fontfamily($weight) {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: $weight;
}

<<<<<<< HEAD
//計畫表的背景 
=======

//白襯底
@mixin bgwhite {
  background-color: rgba($white, 0.8);
  border-radius:10px;
}



//計畫表的背景
>>>>>>> maggie
@mixin bgplan($height) {
  height: $height;
  background-color: $blue;
  background-image: url("../src/images/img/common/background-yellow-gradient.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin bgplantem($height){
  height: $height;
  background-color: $white;
  background-image: url("../src/images/img/common/background-yellow-gradient.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin questionbox(){
  background-image: url("../src/images/icons/plan_questionbox.svg");
  background-repeat: no-repeat;
  background-size:contain;
}

//其他頁背景
@mixin bgnormal($height) {
  height: $height;
  background-color: $white;
  background-image: url("../src/images/img/common/background-traning.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

//背景設定repeat
@mixin bgnorepeat(){
  background-repeat: no-repeat;
  
}

