$sectionColor: rgb(255, 255, 255);
$height: 200px;
$loop:30px;
$middle: center;
$fontFamily: serif;
$d: 767px;
$m: 414px;
$colorb:(
    'primary': #E75F49,
    'secondary': #EDEDED,
    'succes': #00429D,
    'info': #FFAE0A, 
);

$head:(
    'h1': 50px,
    'h2': 40px,
    'h3': 30px,
    'h4': 20px,
);

$img: (
    'a1': rgb(21, 118, 209),
    'a2': rgb(248, 172, 7),
    'a3': rgb(125, 209, 132),
)