///函式放這邊 要引用用@include//





@mixin all {
    box-sizing: border-box;
    margin: 0;
}

@mixin hover {
    transition:  all .2s ease-in;
    
    &:hover{  //偽元素
        letter-spacing: 2px;
        background-color: rgb(233, 204, 204);
        box-shadow:   1px 2px 8px 1px #ffffff, inset 1px 1px 3px 1px #cec6c6,inset -1px -1px 3px 1px #fff;
        font-weight: 800;
        width: 150px;
    }
}

@mixin rect($w , $h:null){ //null值可選擇帶不帶值
    width: $w;
    height: $h;
    
    @content;
  }



//＠函式 函式名（變數1,變數2,....
@mixin btn($m , $v) {
    width:$m;
    height:$v;
    font-size: 14px;
    border:none;
    cursor: pointer;
    background-color: rgb(253, 215, 215);
    border-radius: 10px;
    background-color: #eff2f9d0;
    box-shadow:   inset 1px 2px 8px 1px #ffffff, 1px 1px 3px 1px #cec6c6,inset -1px -2px 6px 1px #fff;
    color: #6b6969;

    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;

}

//斷點
@mixin desk(){
    @media all and (max-width: $d){
        @content;
    }
}

@mixin mobile(){
    @media all and (max-width: $m){
        @content;
    }
}