.previouspage{
    border-radius: 10px 0 10px 0;
    background-color: #E75F49;
    width: 50px;
    height: 50px;
    .arrow{
        border: 1px solid #ffffff;
        border-width: 0px 5px 5px 0;
        width: 10px;
        height: 10px;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
        position: relative;
        left: 38%;
        top: 28%;
    }
}

.title{    
    position: relative;
    display: inline-block;
    border: 1px solid blue;
    &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #E75F49;
        width: 150%;
        height: 3px;
    }
    .titlelinearrow{
        border: solid #E75F49;
        border-width: 0px 3px 0 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        position: absolute;
        left: 137%;
        top: 80%;
        width: 10px;
        height: 10px;
    }
}

.graybutton{
    border: 3px solid #00429D;
    width: 262px;
    height: 56px;
    border-radius: 30px;
    &:hover{
        background-color: #707070;
        color: #ffffff;
    }
}

.orangebutton{
    width: 262px;
    height: 56px;
    border-radius: 30px;
    background-color: #E75F49;
    color: #ffffff;
    border: none;
    &:hover{
        background-color: #FFA10A;
    }
}