.previouspage{
    border:none;
    border-radius: 10px 0 10px 0;
    background-color: #E75F49; 
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 3px #6e6d6d49;
    .arrow{
        border: 1px solid #ffffff;
        border-width: 0px 5px 5px 0;
        width: 10px;
        height: 10px;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
        position: relative;
    }
}

.title{    
    position: relative;
    display: inline-block;
    &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #E75F49;
        width: 150px;
        height: 3px;
    }
    .titlelinearrow{
        border: solid #E75F49;
        border-width: 0px 3px 0 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        position: absolute;
        left: 130px;
        top: 79%;
        width: 10px;
        height: 10px;
    }
}

.bluebutton{
    border: .3px solid $blue;
    width: 262px;
    height: 56px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px 4px white inset, 2.3px 2.3px #00429D, 2px 2px 3px  #5d6269;
    color: #00429D;
    transition: letter-spacing 1s ;
    
   
    &:active{
        cursor: pointer;
        box-shadow: 2px 2px #00429D;
        background-color: $white;
        box-shadow:  .3px .3px 3px 4px rgb(255, 255, 255) inset,2px 2px 5px 3px rgb(131, 128, 128) inset, 1px 1px #00429D;
        letter-spacing: 1.5px;
    }
}

.orangebutton{
    border: .3px solid $orange;
    width: 262px;
    height: 56px;
    border-radius: 30px;
    background-color: $white;
    color: $orange;
    box-shadow:  2px 2px 3px 4px white inset, 2px 2px 1px  $orange;
    transition: letter-spacing 1s ;


    &:active{
        cursor: pointer;
        background-color: $white;
        box-shadow:  .3px .3px 3px 4px rgb(255, 255, 255) inset,2px 2px 5px 3px rgb(131, 128, 128) inset, 1px 1px $orange;
        letter-spacing: 1.5px;
    }
}

//圓形小按鈕，主要用於前台討論區
.button-block {
    max-width: 914px;
    margin: 0 auto 34px;
    display: flex;
    justify-content: flex-end;
    button.new-post, button.small-blue, button.small-red{
        width: 96px;
        height: 38px;
        color: #00429d;
        border-radius: 30px;
        border: solid #00429d 1px; 
        box-shadow: 5px 5px #00429d;
        cursor: pointer;
        &:active {
            box-shadow: 0px 0px #00429d;
        }
    }
}