.previouspage {
  //a標籤
  border-radius: 10px 0 10px 0;
  background-color: $orange;
  display: block;
  width: 50px;
  height: 50px;
  box-shadow: 2px 2px 3px #6e6d6d;
  position: relative;
  .arrow {
    //div
    border: 5px solid $white;
    border-width: 0px 5px 5px 0;
    width: 20px;
    height: 20px;

    display: inline-block;
    transform: rotate(135deg);
    position: absolute;
    top: 31%;
    left: 41%;
  }
}

.title {
  position: relative;
  display: inline-block;
  margin: 10px;
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    // background-color: #e75f49;
    width: 120%;
    height: 3px;
  }
}

.bluebutton {
  border: 0.3px solid $blue;
  width: 262px;
  height: 56px;
  border-radius: 30px;
  box-shadow: 2px 2px 3px 4px white inset, 2.3px 2.3px #00429d,
    2px 2px 3px #5d6269;
  color: #00429d;
  transition: letter-spacing 1s;
  cursor: pointer;
  &:active {
    cursor: pointer;
    box-shadow: 2px 2px #00429d;
    background-color: $white;
    box-shadow: 0.3px 0.3px 3px 4px rgb(255, 255, 255) inset,
      2px 2px 5px 3px rgb(131, 128, 128) inset, 1px 1px #00429d;
    letter-spacing: 1.5px;
  }
}

.orangebutton {
  border: 0.3px solid $orange;
  max-width: 262px;
  height: 56px;
  border-radius: 30px;
  background-color: $white;
  color: $orange;
  box-shadow: 2px 2px 3px 4px white inset, 2px 2px 1px $orange;
  transition: letter-spacing 1s;
  cursor: pointer;
  &:active {
    cursor: pointer;
    background-color: $white;
    box-shadow: 0.3px 0.3px 3px 4px rgb(255, 255, 255) inset,
      2px 2px 5px 3px rgb(131, 128, 128) inset, 1px 1px $orange;
    letter-spacing: 1.5px;
  }
}

.yellowbutton {
  cursor: pointer;
  border: 0.3px solid $yellow;
  width: 262px;
  height: 56px;
  border-radius: 30px;
  background-color: $white;
  color: $yellow;
  box-shadow: 2px 2px 3px 4px white inset, 2px 2px 1px $yellow;
  transition: letter-spacing 1s;

  &:active {
    cursor: pointer;
    background-color: $white;
    box-shadow: 0.3px 0.3px 3px 4px rgb(255, 255, 255) inset,
      2px 2px 5px 3px rgb(131, 128, 128) inset, 1px 1px $yellow;
    letter-spacing: 1.5px;
  }
}

//圓形小按鈕，主要用於前台討論區
$places: "frontend", "manage";
@each $place in $places {
  .button-block-#{$place} {
    max-width: 915px;
    margin: 0 auto 34px;
    display: flex;
    justify-content: flex-end;
    @if $place == "frontend" {
      @include table() {
        width: 576px;
      }

      @include mobile() {
        width: 375px;
      }
    } @else if $place == "manage" {
      min-width: 915px;
    }

    button.new-post,
    button.small-blue,
    button.small-red {
      width: 96px;
      height: 38px;
      color: #00429d;
      border-radius: 30px;
      border: solid #00429d 1px;
      box-shadow: 5px 5px #00429d;
      cursor: pointer;
      outline: none;
      &:active {
        cursor: pointer;
        box-shadow: 2px 2px #00429d;
        background-color: $white;
        box-shadow: 0.3px 0.3px 3px 4px rgb(255, 255, 255) inset,
          2px 2px 5px 3px rgb(131, 128, 128) inset, 1px 1px #00429d;
      }
    }
  }
}
