%page-container-single-article {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 916px;
    width: 90%;
    border: solid #00429d 1px;
    background-color: white;
    @include table() {
        width: 576px;
    }

    @include mobile(){
        width: 375px;
    }
    .single-article {
        margin: 0 auto;
        max-width: 788px;
        width: 86%;
        @include table() {
            width: 459px;
        }
        @include mobile(){
            width: 322px;
        }
        .head {
            max-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .author {
                height: 80px;
                img.avatar {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    margin: 18px 0 0 0px;
                    vertical-align: center;
                    object-fit: cover;
                }
                span.name, span.time {
                    display: inline-block;
                    height: 100%;
                    line-height: 80px;
                    vertical-align: top;
                    line-height: 80px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 1rem;
                }
                
                span.name {
                    margin: 0 15px 0 0;
                }
                span.time {
                    color: rgb(104, 103, 103);
                    font-size: .8rem;
                }
            }
            .action {
                height: 80px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                div.like {
                    height: auto;
                    width: auto;
                    display: flex;
                    align-items: center;
                    .heart {
                        width: 30px;
                        height: 28px;
                        cursor: pointer;
                        img {
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                        }
                    }
                }
                .report {
                    margin: 0 0px 0 22px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    img {
                        width: 6px;
                        height: 24px;
                        cursor: pointer;
                    }
                    div.drop-down {
                        position: absolute;
                        top: 150%;
                        right: -47px;
                        background-color: lightgray;
                        width: 100px;
                        // height: 90px;
                        // line-height: 30px;
                        text-align: center;
                        border-radius: 5px;
                        cursor: pointer;
                        
                        @include table() {
                            // width: 459px;
                        }
                        @include mobile(){
                            width: 50px;
                            right: -22px;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                            border-top: 0;
                            border-bottom: solid lightgray 10px ;
                            border-left: solid transparent 10px;
                            border-right: solid transparent 10px;
                        }
                        span {
                            display: block;
                            height: 30px;
                            line-height: 30px;
                        }
                    }
                }
            }
            .control-buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .button-block-manage.in-content {
                    max-width: 120px; 
                    min-width: 120px;
                    margin-bottom: 0;
                    // .edit-self.small-blue {
                        // display: none;
                    // }
                    .delete-article.small-red {
                        border: solid $orange 1px;
                        color: $orange;
                        box-shadow: 5px 5px $orange;
                        &:active {
                            box-shadow: 0;
                        }
                    }
                }
            }
        }
        .middle {
            height: auto;
            h3.title {
                margin: 25px 0 0;
                font-size: 24px;
            }
            div.forum-content-block {
                margin: 24px 0;
                width: 100%;
                max-width: 100%;
                // height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                title{
                    max-width: 100%;
                }
                p.forum-content {
                    margin: 0;
                    line-height: 1.5rem;
                    flex-grow: 1;
                    width: 100%;
                    height: 100%;
                }
                div.photo-block {

                    width: auto;
                    height: auto;
                    display: flex;
                    flex-direction: column;                  

                    img {
                        max-width: 300px;
                        max-height: 300px;
                        object-fit: cover;
                        // width: 300px;
                        // height: 300px;
                    }
                }
                
            }
        }
    }

    .new-comment {
        max-width: 788px;
        width: 86%;
        min-height: 250px;
        margin: 24px auto 0;
        border: solid #00429D 1px;
        border-radius: 30px;
        position: relative;
        @include table() {
            width: 459px;
        }
        @include mobile(){
            width: 322px;
        }
        img.avatar-new-comment {
            position: absolute;
            border-radius: 50%;
            top: 18px;
            left: 20px;
            width: 44px;
            height: 44px;
            object-fit: cover;
        }
        textarea.input-comment {
            border: none;
            padding: 10px;
            resize: none;
            position: absolute;
            // max-width: 670px;
            width: 85%;
            min-height: 150px;
            left: 80px;
            top: 20px;
            &:focus {
                outline: none;
            }
            @include table() {
                width:75%;
            }
            @include mobile(){
                width:65%;
            }
        }
        button.submit-comment {
            position: absolute;
            right: 5%;
            bottom: 24px;
        }
    }

    hr {
        margin: 30px auto;
        width: 788px;
        @include table() {
            width: 459px;
        }
        @include mobile(){
            width: 322px;
        }
    }

    .comments {
        max-width: 788px;
        width: 86%;
        margin: 0 auto;
        @include table() {
            width: 459px;
        }
        @include mobile(){
            width: 322px;
        }
        .single-comment {
            border: solid #00429d 1px;
            position: relative;
            border-radius: 30px;
            margin-bottom: 20px;
            .comment-author {
                display: inline-block;
                width: 80%;
                min-width: 250px;
                height: 70px;
                // border: solid red 1px;
                @include mobile(){
                    width: 322px;
                    min-width: 322px;
                }
                img.avatar-comment {
                    border-radius: 50%;
                    width: 44px;
                    height: 44px;
                    object-fit: cover;
                    margin-left: 28px;
                    margin-top: 15px;
                    @include mobile(){
                        margin-left: 25px;
                    }
                }  
                span.name, span.time {
                    display: inline-block;
                    height: 100%;
                    vertical-align: top;
                    line-height: 70px;
                    // margin-top: 10px;
                    // border: solid red 1px;
                }
                span.name {
                    margin: 0 15px;
                }
                span.time {
                    color: rgb(104, 103, 103);
                    font-size: .8rem;
                }
                
            }
            p.comment-content {
                padding: 16px 28px 16px;
                margin: 0;
                line-height: 1.5rem;
                height: auto;
                @include mobile(){
                    padding: 16px 25px 16px;
                }
            }
            div.report {
                position: absolute;
                width: 6px;
                height: 24px;
                top: 18px;
                right: 28px;
      
                img {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
                div.drop-down-comment {
                    position: absolute;
                    top: 150%;
                    right: -47px;
                    background-color: lightgray;
                    width: 100px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 5px;
                    cursor: pointer;
                    
                    @include table() {
                        // width: 459px;
                    }
                    @include mobile(){
                        width: 50px;
                        right: -22px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                        border-top: 0;
                        border-bottom: solid lightgray 10px ;
                        border-left: solid transparent 10px;
                        border-right: solid transparent 10px;
                    }
                }
            }
           
        }
    }
}