%article-list {
    // border: solid red 1px;
    max-width: 915px;
    width: 100%;
    margin: 0 auto;
    @include table() {
        width: 576px;
    }

    @include mobile() {
        width: 375px;
    }
    
    .article-item {
        border: solid black 1px;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: white;
        font-size: 0;
        box-shadow: 10px 10px $yellow;
        a.enter-article {
            text-decoration: none;
            color: black;
            &:visited {
                @extend a.enter-article;
            }
            &:active {
                @extend a.enter-article;
            }
        
            .left{
                // border: solid red 1px;
                width: 70%;
                display: inline-block;
                height: 100%;
                @include table() {
                    width: 60%;
                }

                @include mobile() {
                    width: 100%;
                }
                 
                .author {
                    height: 70px;
                    img.avatar {
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                        margin: 13px 0 0 25px;
                        vertical-align: center;
                        object-fit: cover;
                    }
                    span.name, span.time {
                        display: inline-block;
                        height: 100%;
                        vertical-align: top;
                        line-height: 70px;
                        font-size: 1rem;
                        max-width: 40%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 1rem;
                    }

                    span.name {
                        margin: 0 15px 0 18px;
                        max-width: 60%;
                        @include table() {
                            max-width: 45%;
                        }
        
                        @include mobile() {
                            max-width: 40%;
                        }
                    }

                    span.time {
                        color: rgb(104, 103, 103);
                    }
                }
                h3.article-title {
                    margin: 5px 25px 0;
                    font-size: 24px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    @include mobile() {
                        white-space: normal;
                        text-overflow: none;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                    }
                }
                
                p.preview-content {
                    display: inline-block;
                    max-width: 90%;
                    // min-width: 70%;
                    margin: 18px 0 0 25px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 1rem;
                    @include table() {
                        max-width: 90%;
                    }
                    
                    @include mobile() {
                        max-width: 90%;
                    }
                }

                .counts {
                    margin: 16px 25px 13px;
                    font-size: 0;
                    display: flex;
                    
                    .views {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;
                        height: 30px;
                        
                        img {
                            width: 30px;
                            height: auto;
                            vertical-align: top;
                        }
                        span {
                            display:inline-block;
                            vertical-align: top;
                            line-height: 30px;
                            font-size: 1rem;
                            margin-left: 10px;
                        }
                    }   

                    .likes {
                        margin-left: 20px;
                        @extend .views;
                        // display:inline-block;
                        margin-left: 30px;
                    }

                    .comments {
                        @extend .likes;
                        margin-left: 30px;
                    }
                }
            }
            
            




            .right {
                font-size: 0;
                display: inline-block;
                width: 30%;
                height: 203.81px;
                margin: 0;
                vertical-align: top;
                @include table() {
                    width: 40%;
                }

                @include mobile() {
                    display: none;
                }
                img.demo-image {
                    display: block;
                    width: 167px;
                    height: 167px;
                    margin: calc((203.81px - 167px) / 2) 25px calc((203.81px - 167px) / 2) auto ;
                }
            }
        }
    }
    // .pagination {

    // }
}