%page-container-single-article {
    margin: 0 auto;
    max-width: 916px;
    border: solid #00429d 1px;
    background-color: white;
    @include table() {
        width: 576px;
    }

    @include mobile(){
        width: 375px;
    }
    .single-article {
        margin: 0 auto;
        width: 788px;
        @include table() {
            width: 459px;
        }
        @include mobile(){
            width: 322px;
        }
        .head {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .author {
                width: 70%;
                height: 80px;
                img.avatar {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    margin: 18px 0 0 0px;
                    vertical-align: center;
                }
                span.name, span.time {
                    display: inline-block;
                    height: 100%;
                    vertical-align: top;
                    line-height: 80px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 1rem;
                }
    
                span.name {
                    margin: 0 15px 0 18px;
                }
            }
            .action {
                width: 30%;
                height: 80px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;
                div.like {
                    height: auto;
                    width: auto;
                    display: flex;
                    align-items: center;
                    .heart {
                        width: 30px;
                        height: 28px;
                        cursor: pointer;
                        img {
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                        }
                    }
                }
                .report {
                    margin: 0 0px 0 22px;
                    display: flex;
                    align-items: center;
                    img {
                        width: 6px;
                        height: 24px;
                        cursor: pointer;
                    }
                }
                div.drop-down {
                    position: absolute;
                    top: 85%;
                    right: -20%;
                    background-color: lightgray;
                    width: 100px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 5px;
                    cursor: pointer;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                        border-top: 0;
                        border-bottom: solid lightgray 10px ;
                        border-left: solid transparent 10px;
                        border-right: solid transparent 10px;
                    }
                }
            }
            .control-buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                .button-block {
                    margin-bottom: 0;
                    .edit-self {
                        margin-right: 35px;
                        // display: none;
                    }
                    .delete-article {
                        border: solid #E75F49 1px;
                        color: #E75F49;
                        box-shadow: 5px 5px #E75F49;
                    }
                }
            }
        }
        .middle {
            h3.title {
                margin: 25px 0 0;
                font-size: 24px;
            }
            .content {
                margin: 24px 0;

                p.text {
                    margin: 0;
                }
            }
        }
    }

    .new-comment {
        width: 788px; 
        min-height: 172px;
        margin: 24px auto 0;
        border: solid #00429D 1px;
        border-radius: 30px;
        position: relative;
        @include table() {
            width: 459px;
        }
        @include mobile(){
            width: 322px;
        }
        img.avatar-new-comment {
            position: absolute;
            border-radius: 50%;
            top: 18px;
            left: 28px;
        }
        button.submit-comment {
            position: absolute;
            right: 27px;
            bottom: 24px;
        }
    }

    hr {
        margin: 30px auto;
        width: 788px;
        @include table() {
            width: 459px;
        }
        @include mobile(){
            width: 322px;
        }
    }

    .comments {
        width: 788px; 
        margin: 0 auto;
        @include table() {
            width: 459px;
        }
        @include mobile(){
            width: 322px;
        }
        .single-comment {
            border: solid #00429d 1px;
            position: absolute;
            border-radius: 30px;
            margin-bottom: 20px;
            position: relative;
            
            img.avatar-comment {
                position: absolute;
                border-radius: 50%;
                left: 28px;
                top: 18px;
            }
            p.comment-content {
                padding: 72px 28px 16px;
                margin: 0;
            }
            div.report {
                position: absolute;
                width: 6px;
                height: 24px;
                top: 18px;
                right: 28px;
                img {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
            div.drop-down-comment {
                position: absolute;
                top: 30%;
                right: -2.5%;
                background-color: lightgray;
                width: 100px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border-radius: 5px;
                cursor: pointer;
                &::before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-top: 0;
                    border-bottom: solid lightgray 10px ;
                    border-left: solid transparent 10px;
                    border-right: solid transparent 10px;
                }
            }
        }
    }
}