%page-container-single-article {
    margin: 0 auto;
    width: 916px;
    border: solid #00429d 1px;
    .single-article {
        margin: 0 auto;
        width: 788px;
        .head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .author {
                width: 70%;
                height: 80px;
                img.avatar {
                    width: 44px;
                    height: 44px;
                    // vertical-align: center;
                    border-radius: 50%;
                    margin: 18px 0 0 0px;
                    vertical-align: center;
                }
                span.name, span.time {
                    display: inline-block;
                    height: 100%;
                    vertical-align: top;
                    line-height: 80px;
                }
    
                span.name {
                    margin: 0 15px 0 18px;
                }
            }
            .action {
                width: 30%;
                height: 80px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                div.like {
                    height: auto;
                    width: auto;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
                .report {
                    margin: 0 0px 0 22px;
                    img {
                        width: 6px;
                        height: 24px;
                    }
                }
            }
            .control-buttons {

                display: flex;
                flex-direction: row;
                align-items: center;
                .button-block {
                    margin-bottom: 0;
                    .edit-self {
                        margin-right: 35px;
                        // display: none;
                    }
                    .delete-article {
                        border: solid #E75F49 1px;
                        color: #E75F49;
                        box-shadow: 5px 5px #E75F49;
                    }
                }
            }
        }
        .middle {
            h3.title {
                margin: 25px 0 0;
                font-size: 24px;
            }
            .content {
                margin: 24px 0;

                p.text {
                    margin: 0;
                }
            }
        }
    }

    .new-comment {
        width: 788px; 
        height: 172px;
        margin: 24px auto 0;
        border: solid #00429D 1px;
        border-radius: 30px;
        position: relative;
        img.avatar-new-comment {
            position: absolute;
            border-radius: 50%;
            top: 18px;
            left: 28px;
        }
        button.submit-comment {
            position: absolute;
            right: 27px;
            bottom: 24px;
        }
    }

    hr {
        margin: 30px auto;
        width: 788px;
    }

    .comments {
        width: 788px; 
        
        margin: 0 auto;
        .single-comment {
            border: solid #00429d 1px;
            position: absolute;
            border-radius: 30px;
            margin-bottom: 20px;
            position: relative;
            img.avatar-comment {
                position: absolute;
                border-radius: 50%;
                left: 28px;
                top: 18px;
            }
            p.comment-content {
                padding: 72px 28px 16px;
                margin: 0;
            }
            div.report {
                // border: solid red 1px;
                position: absolute;
                top: 18px;
                right: 28px;
            }
        }
    }
}