.bookmark {
  max-width: 915px;
  margin: 0 auto 37px;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 0;
  border-bottom: solid black 1px;
  .bookmark-item {
    // border: solid red 1px;
    display: inline-block;
    font-size: 24px;
    margin: 0 27px;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      width: 1px;
      height: 34px;
      color: black;
      border-right: solid black 1px;
      position: absolute;
      right: -27px;
      cursor: default;
    }
    &:last-child {
      &::after {
        border-right: 0;
      }
    }
  }
}

// 目前點選位置
.active {
  color: $yellow;
}
