footer{
    background-color: #00429D;
    color: white;
    div#footer_wrapper{
        min-height: 300px;
        display: flex;
        max-width: 1200px;
        width: 100%;
        flex-wrap: wrap;
        min-height: 300px;
        justify-content: space-evenly;
        border: 1px solid rgb(255, 255, 255);
        margin: 0 auto;
        
        div{
            border:1px solid pink;
            flex: 1 1 auto;
            
            &:first-child{
                // border: 1px solid green;
                flex: 0 1 10%;
            }
 
        }
    }
}


div.sitemap{
    display: flex;
    justify-content: space-around;
    li{
        list-style: none;
        // border: 1px solid red;
    }
}
div.contactus{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    a{  
        border:1px solid rgb(199, 101, 71);
        display: inline-block;
        margin-right: 20px;
        i{
           
            color:white;
        }
    }
}