footer {
  background-image: $bluegradient;
  color: white;
  padding: 10px 0;
  transition: all 0.1s;
  height: 400px;
  @include mobile() {
    height: 100%;
  }
  @include table() {
    position: absolute;
    transform: translate(-100%, -100%);
    opacity: 0;
    transition: all 0.5s;
  }

  div#footer_wrapper {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    min-height: 300px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 40px;
    div {
      flex: 1 1 auto;
      justify-content: space-between;
      line-height: 1.8;
    }
    div.footer_tibame {
      display: flex;
      align-items: flex-end;
    }
  }
}
div #footerlogo {
  // border:1px solid rgb(238, 255, 0);
  width: 10%;

  img {
    display: flex;
    justify-self: center;
    // border:1px solid rgb(238, 255, 0);
    max-width: 50%;
    margin: 8px auto;
  }
}
div.sitemap {
  @include fontfamily(400);
  display: flex;
  justify-content: space-around;
  ul {
    margin-top: 0;
    padding-left: 0;
    // border:1px solid white;
    li {
      margin-left: 0;
      // border:1px solid white;
      list-style: none;
      a {
        color: white;
        text-decoration: none;
        padding: 0;
        margin-top: 0;
        vertical-align: top;
        flex: 1 0 auto;
        text-align: center;
        list-style: none;
      }
    }
  }
}
div.contactus {
  @include fontfamily(400);
  display: inline-flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 0px;
  flex-wrap: wrap;
  margin-left: 50px;
  div {
    padding-top: 25px;
  }
  p {
    margin: 0;
  }
  a {
    // border:1px solid rgb(199, 101, 71);
    display: inline-block;
    margin-right: 20px;

    i {
      width: 100%;
      color: white;
    }
  }
}
