

body{
    position: relative;
}


#header{
    height: 80px;
    background-color: $blue;    
    display: flex;
    justify-content: center;
    @include table(){
        padding: 0 83px;
    }
    #header_wrapper{
        // border: 1px solid white;
        max-width: 1200px;
        margin: 0  10px;
        display: flex;
        width: 100%;
        justify-content: center;
        @include table(){
            justify-content:center;
            min-width: 576px;
        }
        @include mobile(){
           
            min-width: 375px;
        }
        a.logo{
            display: flex;
            align-items: center;
            // border: 1px solid white;
            color: $white;
            width:15%;
            @include table(){
                width: 70%;
                img{
                    max-width: 40%;
                    margin: 0 auto;
                }
            }
            @include mobile(){
                flex-grow: 1;
            }
            
        }
        
    }
}


.header_menu{
    z-index: 120;
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-left: 0%;
    padding: 0;
    @include table(){
        background-color: $blue;
        position: absolute;
        transform:translateY(-100%);
        left: 0;
        flex-direction: column;
        opacity: 0;
        z-index: -10;
        height: 100vh;
    }


    @include mobile(){
        width: 100%;
    }
    li{ 
        @include flexcenter;
        height: 100%;
        width: 100%;
        list-style: none;
        transition:all .2s;
        @include table(){
            justify-content: left;
            height: 60%;
        }
        &:hover {
            letter-spacing: 3px;
            background:linear-gradient( -30deg, $yellow, $lightyellow);
            color: $blue;
        }
        &:nth-child(1){
            position: relative;
            &:hover .head_activity {
                padding: 0;
               background-color: $blue;
               z-index: 10000;
               display: block;
               position: absolute;
               top: 0;
               transform: translateY(100%);
               height: 100%;
               width: 100%;
               @include table(){
                transform: translateY(0%);
                position: relative;
                height: 100%;
                width: 50%;
                background:transparent;
               }

            }
        }
        a{
            font-size: 18px;
            color: $white;
            width: 100%;
            height: 100%;
            text-decoration: none;
            @include flexcenter;
            transition:all .3s;
            @include table(){
                width: 100%;
                
            }
            &:hover {
                color: $blue;
            }
        }
    }
}

.slidedown{
    @include table(){
        padding: 20px;
        z-index: 100;
        justify-content: flex-start;
        opacity: 1;
        transform:translateY(80px);
        transition: all  .8s;
        width: 80%;
    }
    @include mobile(){
        width: 100%;
    }
}

a.header_icon{
    // border: 1px solid white;
    @include flexcenter;
    align-items: center;
    width: 5%;
    @include mobile(){
        width: 10%;
    }
    i{
        color: $white;
        // width: 100%;
        display: inline-block;
        &:hover {
            color: $yellow;
          }
    }
} 


.hamBar{
    align-items: center;
    justify-content: center;
    position: relative;
    @include table(){
        width: 10%;
    }
    .btn{
        // border: 1px solid $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 20px;
        cursor: pointer;
        @include table() {
            width: 80%;
        }
        @include mobile(){
            width: 60%;
        }
        span{
            border: 1px solid $white;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $white;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 45%;
            }
            &:nth-child(3){
                bottom: 0%;
            }
           
        }
     }
    
   
    color: $white;
    display: none;
    @include table{
        display: flex;
        
        ::before{
            content: "";
       }
    }
   
}

.head_subtitle{
    display: none;
    @include table(){
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 100%;
            li{
                width: 100%;
                &:hover{
                    background: none;
                }
            }
        }
    }
}
ul.head_contactus{
    line-height:normal;
    width: 100%;
    height: 100%;
    li{
        justify-content: center;
        p,a,i{
            color: azure;
            &:hover {
                background: none;
                letter-spacing: normal;
            }
        }
       
        &:hover {
            background: none;
            letter-spacing: normal;
            color: azure;
        }
    }
}

.sticky {
    z-index: 100;
    top: 0;
    position: sticky;
    transition: all  .8s;
    box-shadow: 1px 2px 3px  rgb(43, 42, 66);
  }


.-close{
    // border: 1px solid $white;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $white;
    
    &:nth-child(1){
        display: none;
    }
    &:nth-child(2){
        top: 45%;
        transform: rotate(45deg);
    }
    &:nth-child(3){
        top: 45%;
        transform: rotate(-45deg);

    }
   
}












