body{
    box-sizing: border-box;
    margin: 0;
}



header{
    display: inline-flex;
    width: 100%;
    height: 80px;
    background-color: #00429D;
    align-items: center;
    
    ul#header_wrapper{
        display: flex;
        border: 1px solid white;
        justify-content: left;
        max-width: 1200px;
        width: 100%;
        height: 100%;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        li{
            position: relative;
            display: flex;
            list-style: none;
            // border: 1px solid rgb(255, 0, 149);
            width: 20%;
            @include center();
            @include fontfamily(400);
            
            

            &:first-child{
                flex-basis: 10%;
                
            }

            &:nth-child(6){
                flex-basis: 5%;
                gap: 10px;
                margin-right: 10px;
            }

            a{
                color: white;
                text-decoration: none;
                width: 100%;
                text-align: center;
                // border: 1px solid yellow;
               
            }
        }
    }

}






a.logo{
    flex-basis: 100%;
    // border: 1px solid rgb(233, 233, 233);
    img{
        width: 100%;
        vertical-align: middle;
    }
    
}





a.secondChoice{
    background-color:#00429D;
    position: absolute;
    width: 100%;
    padding: 15px 0;
    top: 100%;
    // border: 1px solid green;
    
        
}




